@page "/info"

<style>
    main{
        max-width: 40em;
    }
    main img{
        padding: 8px;
        max-width: 90%;
    }
    img.right{
        float: right;
        width: 45%;
    }

    .filled, .constistent{
        padding-left: 5px;
    }

    .filled {
        border-left: 8px solid #b3c108;
    }
    .constistent{
        border-left: 8px solid red;
    }
</style>

<section>
    <h2>
        Что это такое?
    </h2>
    <img src="Images/ВариантыВыбораДо.png" title="Задача выбора" />
    <p>
        Это система, которая облегчает процесс принятия решений.
        Надо что-то выбрать, но все варианты выглядят одинаково привлекательно или одинаково плохо?<br />
        Ничего, разберемся. Разделим проблему на составные части и выясним, что же, все-таки, по ВАШЕМУ же мнению лучше.
    </p>

    <section>
        <h3>Как пользоваться системой</h3>
        <p>
            Использование системы состоит из 4-х этапов:
        </p>
        <ol>
            <li>
                Формирование иерархии задачи
            </li>
            <li>
                Определение связей между объектами
            </li>
            <li>
                Исправление возникшей несогласованности
            </li>
            <li>
                Анализ результатов
            </li>
        </ol>
        <section>
            <h4>1. Формирование задачи</h4>
            <p>
                В начале надо <NavLink href="start">описать проблему</NavLink>. Для этого мы делим её на составляющие части и составляем иерархию по следующим правилам:
            </p>
            <img class="right" src="Images/ИерархияБольшая.png" title="Иерархия проблемы" />
            <ul>
                <li>
                    <p>
                        <strong>Цель</strong> / <strong>название проблемы</strong> - всегда на самом верху. Она одна и только одна.

                    </p>
                </li>
                <li>
                    <p>
                        Возможные <strong>варианты действий</strong> или <strong>альтернативы</strong> - всегда в самом низу. Не менее двух, ведь надо же из чего-то выбирать, верно?
                    </p>
                </li>

                <li>
                    <p>
                        Всё что между ними - <strong>критерии</strong>, по которым мы определяем привлекательность альтернатив. Тоже не менее двух.
                    </p>
                </li>
            </ul>

        </section>

        <section>
            <h4>2. Определение отношений между объектами</h4>
            <p>
                После сохранения иерархии вам предложат определить связи между объектами. Соглашайтесь, не раздумывая.<br/>
                Отношения выявляют при помощи списка довольно простых вопросов. Есть есть объект 1 и объект 2. Мы их сравниваем по конкретному критерию 3.
                Что покажется приоритетным выбором? На такой вопрос ответить будет проще, чем рассматривать выбор в контексте ВСЕЙ проблемы.
            </p>
            <p>
                Все указанные в интерфейсе связи должны быть установлены, иначе система не позволит вам увидеть результат.
            </p>
        </section>

        <section>
            <h4>3. Исправление возникших недочетов</h4>
            <p>
                В ходе определения связей могут возникнуть 2 проблемы. Обнаружить их можно по подозрительному цвету вкладок меню или же на странице обзора задачи.
            </p>
            <ul>
                <li class="filled">
                    <p>
                        <b>Заполнение не до конца</b> <br />
                        Необходимо завершить заполнение отношений с желтой обводкой.
                    </p>
                </li>
                <li class="constistent">
                    <p>
                        <b>Несогласованность.</b> <br />
                        В сравнение закралась некоторая нелогичность. Если А > Б и Б > C, то C > A быть никак не может! Это и есть несогласованность. Однако её возникновение - нормальный процесс.
                        Надо пересмотреть связи между объектами, чтобы они были чуть логичнее. <br/>
                        Для упрощения сего действия варианты выбора в опросе, гарантирующие согласованность, выделены зеленым.
                        Вот их и следует выбирать, при этом стараясь сохранить свою логику связей.
                    </p>
                </li>
            </ul>
            <p>
                Если недостатков больше нет, то можно переходить к анализу отношений.
            </p>

        </section>

        <section>
            <h4>4. Анализ результатов</h4>
            <p>
                Лучшая выбор на каждом уровне обладает наибольшим коэффициентом важности. Его и следует выбирать.<br/>
                Если нужны только итоговые альтернативы - обращать внимание надо только на нижний уровень. Но кто знает, может и важность промежуточных критериев может оказаться полезной.

            </p>
            <img src="Images/ВариантыВыбора.png" title="Варианты выбора после" />
        </section>

    </section>

    <section>
        <h3>
            Как система определяет наилучший вариант?
        </h3>
        <img class="right" style="height:12em;width:auto" src="Images/ТомасСаати.jpg" title="Томас Саати" />
        <p>
            При помощи хорошего метода, именуемого <b>метод анализа иерархии</b>  (МАИ) (не путать с Московским Авиационным Институтом). Он был разработан в 1970-х годах группой исследователей под руководством
            Томаса Саати. Узнать про него подробнее можно <a href="http://rosculturexpertiza.ru/files/valuation/saati.pdf">много где</a>. Но зачем? У нас он уже работает в полной мере.
        </p>

    </section>
</section>


    @code {

    }
