@page "/check"

    <h3>Прогресс</h3>
    <h4>Выполнено</h4>
    <ul>
        <li>Редактирование иерархии</li>
        <li>Редактирование матрицы отношений</li>
        <li>Просмотр результатов</li>
        <li>Сохранение структуры иерархии и её загрузка в json</li>
        <li>Выбор из шаблонов</li>
        <li>Рабочая система опроса</li>
        <li>Система рейтинга критериев</li>
        <li>Отображение подробных расчетов и интерфейс матриц</li>
        <li>Отдельная компоновка для системы отношений</li>
        <li>Определение отношения, которое ломает согласованность</li>
        <li>Поэтапный интерфейс (далее, назад)</li>
        <li>Экран обзора проблемы: возможность перехода к отношениям, отображение коэффициентов и связей на одной схеме, фильтры отображения</li>
    </ul>
    <h4>Осталось</h4>
    <ul>
        <li>ВАЖНО! Использование неизвестных отношений, которые необходимо полностью заполнить</li>
        <li>Перезагрузка параметров страницы</li>
        <li>Полноценная загрузка и сохранение файлов</li>
    </ul>

    <h4>Вероятно</h4>
    <ul>
        <li>Интерфейс последовательного сравнения (сначала что лучше, хуже, одинаково), затем уже степень</li>
        <li>Сохранение оценок при изменении иерархии</li>
        <li>Сохранение оценок при сохранении и загрузки файла</li>
        <li>Тонкая настройка оценок</li>
        <li>История действий в редакторе иерархии</li>
        <li>Редактирование нескольких проблем сразу</li>
        <li>Формирование отчета</li>
    </ul>

    <h4>В релизной версии</h4>
    <ul>
        <li>Полноценное разделение на экспертную и пошаговую систему</li>
        <li>Блокировка при рассогласованности оценок</li>
        <li>Свой интерфейс и дизайн</li>
        <li>Стилистика под ME</li>
        <li>Дополнительные страницы про проект, автора, МАИ</li>
        <li>Загрузка на настоящий хостинг</li>
    </ul>

    <h4>Навряд ли</h4>
    <ul>
        <li>Схемы со стрелками</li>
    </ul>

    <h3>Check</h3>
    <p>

    </p>

    @code {

    }
