@page "/"
@page "/home"

<style>
    .main-grid {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "about problem info";
    }

    .about-area {
        grid-area: about;
        text-decoration: none;
        color: black;
        padding: 5px;
    }

    .problem-area {
        grid-area: problem;
        border-right: 1px solid gainsboro;
        border-left: 1px solid gainsboro;
        text-decoration: none;
        color: black;
        padding: 5px;
        min-height: 20em;
    }

    .info-area {
        grid-area: info;
        text-decoration: none;
        color: black;
        padding: 5px;
    }

    .about-area, .problem-area, .info-area {
        text-align: center;
    }

        .about-area img, .problem-area img, .info-area img {
            height: 100px;
            margin: auto;
        }

        .about-area p, .problem-area p, .info-area p {
            color: rgb(70, 70, 70);
        }

        .about-area:hover, .problem-area:hover, .info-area:hover {
            cursor: pointer;
            background-color: whitesmoke;
        }

    .pr-arrow {
        content: "->";
        margin: 0 1em;
    }

    .process {
        display: flex;
        align-items: center;
        height: 100px;
        text-align: center;
        vertical-align: middle;
        font-size: 1.5em;
    }

    .process-img {
        height: 50px;
    }
</style>

    <div class="main-grid">
        <a class="about-area" href="info">
            <img src="Images/Знак.png" />
            <h2>О системе</h2>
            <p>
                Подробно о назначении системе, её разработке и авторах.
            </p>
        </a>

        <a class="problem-area" href="start">
            <section class="process">
                <img class="process-img" src="Images/Иерархия.png" />
                <span class="pr-arrow">></span>
                <img class="process-img" src="Images/Отношения.png" />
                <span class="pr-arrow">></span>
                <img class="process-img" src="Images/Результаты.png" />
            </section>
            <h2>Поддержка принятия решений</h2>
            <p>
                Основная функция системы - решение задач выбора.
            </p>
        </a>

        <a class="info-area" href="AHP">
            <img src="Images/Проект.jpg" />
            <h2>О методе</h2>
            <p>
                Подробно о методе анализа иерархий, который используется в системе.
            </p>
        </a>
    </div>

    @code {

    }
