@inherits DSSComponent
<h4>Оптимальные варианты</h4>
@if (Problem.CorrectnessRels.AreRelationsCorrect)
{
    <p>
        Лучшие альтернативы на каждом уровне отмечены цветом
    </p>
}
else
{
    <b>Внимание!</b>
    <p>
        Отношения между элементами несогласованы! Для использования результатов необходимо исправить неправильные отношения
    </p>
}

@code {

}

