@inherits DSSComponent
<h4>Согласованность отношений</h4>

<p>
    Граница согласованности
    <input type="number" @bind-value="@Problem.Border" />
    <br />
    Максимально допустимым значением является 0.2
</p>

@if (Problem.AreRelationsCorrect)
{
    <p>Все отношения прошли проверку на согласованность</p>
}
else
{
    <p>
        Некоторые отношения являются НЕСОГЛАСОВАННЫМИ! Отмеченные цветом элементы необходимо скорректировать
    </p>
}


@code {

}
