@inherits DSSComponent

@using System.Text.Unicode;
@using System.Text.Encodings.Web;

<p>
    Генерировать JSON со связями
    <input type="checkbox" />
</p>

<div class="row-own">
    <details>
        <summary>Проблема в виде JSON</summary>
        <textarea rows="15" cols="50">@JSONCurrent</textarea>
    </details>
</div>

@code {
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        CreateJson();
    }

    //JSON
    private string JSONCurrent { get; set; }
    private void CreateJson()
    {
        Node[] nodes = Problem.Hierarchy.OfType<Node>().ToArray();
        var options = new JsonSerializerOptions()
        {
            WriteIndented = true,
            IgnoreNullValues = true,
            Encoder = JavaScriptEncoder.Create(UnicodeRanges.BasicLatin, UnicodeRanges.Cyrillic),
        };
        JSONCurrent = JsonSerializer.Serialize(nodes, options);
    }
}
