@inherits DSSComponent
<h4>Пригодность отношений</h4>


<b>Управление отношениями - сброс, автоматическое исправление?</b>


<section>
    <div class="example-section">
        <div class="example-block" style="background-color:lightgreen"></div>
        <span class="example-description">
            - отношения заполнены и согласованы
        </span>
    </div>
    <div class="example-section">
        <div class="example-block" style="background-color:lightyellow"></div>
        <span class="example-description">
            - отношения не заполнены
        </span>
    </div>
    <div class="example-section">
        <div class="example-block" style="background-color:lightpink"></div>
        <span class="example-description">
            - отношения не согласованы
        </span>
    </div>
</section>

<dl>
    <dt>Граница согласованности</dt>
    <dd><input type="number" @bind-value="@MatrixConsistenct.BorderConsistenct" /></dd>
</dl>

@if (!Problem.CorrectnessRels.AreRelationsCorrect)
{
    <p>
        Некоторые отношения не заполнены или являются несогласованными!
    </p>
}

