@inherits LayoutComponentBase
<link rel="stylesheet" href="css/app.css" />

<section class="grid">
    <Logo />

    <MainHeader />

    <CascadingValue Name="Project" Value="ProjectsCollection.SelectedProject">
        <MenuProjects />

        <Menu />

        <main>
            @if (!ProjectsCollection.SelectedProject.IsEmptyProject)
            {
                @Body
            }
            else
            {
                <div></div>
            }
        </main>
    </CascadingValue>


    <nav class="lower-menu"></nav>

    <Footer />
</section>

@code{
    [Inject]
    public IProjectsCollection ProjectsCollection { get; set; }
    [Inject]
    public NavigationManager Navigation { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        ProjectsCollection.OnSelectedProjectChanged += project => StateHasChanged();
    }
}