@inherits LayoutComponentBase

@*
    Макет сайта для редактора задач
*@

<section class="grid">

    <Logo />

    <NavMenuMain></NavMenuMain>

    <CascadingValue Name="Project" Value="ProjectsCollection.SelectedProject">
        
        <NavMenuProjects />

        <NavMenuStages />

        <main>
            @if (!ProjectsCollection.SelectedProject.IsEmptyProject)
            {
                @Body
            }
            else
            {
                <div>

                </div>
            }
        </main>

    </CascadingValue>

    <Footer />

</section>

@code{
    [Inject]
    public IProjectsCollection ProjectsCollection { get; set; }
    [Inject]
    public NavigationManager Navigation { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        ProjectsCollection.OnSelectedProjectChanged += project => StateHasChanged();
    }
}