@inherits LayoutComponentBase

@*
    Макет для информационной части сайта
*@

<section class="grid">
    <Logo />

    <NavMenuMain />

    <main>
        @Body
    </main>

    <Footer />
</section>
