@page "/"

<div class="main-grid">

    <section class="about">
        <h2>О приложении</h2>
        <p>
            Вся наша жизнь - это принятие череды решений, где из нескольких вариантов решения следует выбирать
            наиболее подходящий (или хотя бы кажущийся таковым). Однако выявить такой вариант может быть непросто.
        </p>
        <p>
            В таком случае могут помочь методы теории принятия решений, например, <strong>метод анализа иерархий</strong> (МАИ).
            Для его применения необходимо
            представить информацию о решаемой проблеме и доступных альтернативах в структурированном виде.
            Использовать метод не очень сложно, но вручную достаточно нудно, да и необходимо разбираться в
            принципах его работы.
        </p>
        <p>
            Применение МАИ можно упростить, спрятав всю сложную подоплеку с глаз долой.
            Для того и сделано это приложение – оно упрощает применение метода анализа иерархий для решения задач выбора.
            А если метод уже знаком, то этот сайт можно использовать для проверки своего решения.
        </p>
    </section>

    <a class="about-area" href="info">
        <header class="area-header">
            <img src="Images/clipboard.svg" />
            <h2>Как пользоваться МАИ?</h2>
        </header>
        <p>
            Краткая инструкция по использованию системы и основным этапам решения задач.
        </p>
    </a>

    <a class="problem-area" href="hierarchy">
        <section class="process">
            <img class="process-img" src="Images/layers.svg" />
            <img class="process-img" src="Images/share-2.svg" />
            <img class="process-img" src="Images/list.svg" />
        </section>
        <h2>Решение задач принятия решений</h2>
        <p>
            Практическое применение метода анализа иерархий для определения наилучшей альтернативы в задачах выбора.
        </p>
    </a>

    <a class="info-area" href="example">
        <header class="area-header">
            <img src="Images/bookmark.svg" />
            <h2>О методе</h2>
        </header>
        <p>
            Подробно об и используемом методе (МАИ), алгоритме расчета.
        </p>
    </a>

</div>

@code {
    [Inject]
    public IAccount Account { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (!Account.IsLoaded.HasValue)
        {
            await Account.LoadStorageAsync();
        }
    }
}
