@page "/info"

<section class="info">
    <div style="text-align:center">
        <img src="Images/ВариантыВыбораДо.png" title="Задача выбора" />
    </div>

    <section>
        <h3>Определение наилучшей альтернативы</h3>

        <section>
            <h4>1. Создание задачи выбора</h4>
            <p>
                Каждая проблема выбора – это отдельная задача.
                В приложении её можно создать на основе предложенных образцов, а можно загрузить 
                из ранее сохраненного файла.
            </p>
            <p>
                Открытые задачи автоматически сохраняются при любом изменении.
            </p>
        </section>

        <section>
            <h4>2. Формирование иерархии</h4>
            <p>
                Для создания иерархии в задаче выбора необходимо выделить конечные альтернативы и критерии, по которым 
                они сравниваются. Они располагаются по следующим правилам:
            </p>
            <ul>
                <li>
                    <p>
                        <strong>Цель</strong> / <strong>название проблемы</strong> - всегда на самом верху.
                        Может быть только одна.
                    </p>
                </li>
                <li>
                    <p>
                        Возможные <strong>варианты действий</strong> или <strong>альтернативы</strong> - всегда в самом низу.
                        Не менее двух, иначе выбирать окажется не из чего.
                    </p>
                </li>
                <li>
                    <p>
                        Всё что между ними - <strong>критерии</strong>, по которым определяется привлекательность альтернатив.
                        Один критерий не имеет смысла (его вполне может заменить и цель), так что их должно быть минимум два.
                    </p>
                </li>
            </ul>
            <figure class="text-center">
                <img src="Images/ИерархияБольшая.png" title="Иерархия проблемы" style="max-width: 50%" />
                <figcaption>образец иерархии</figcaption>
            </figure>

        </section>

        <section>
            <h4>3. Определение связей</h4>
            <p>
                На этом этапе выявляется оптимальный вариант решения. На основе иерархии создаются отношения,
                которые необходимо заполнить и согласовать для выявления наилучшего варианта.
            </p>
            <p>
                Заполняются отношения просто - последовательным сравнением узлов друг с другом по каждому критерию.
                Приоритет даём тем критериям / альтернативам, которые более важны / лучше по главному указанному критерию.
                
            </p>
            <p>
                При этом изменение названий элементов в иерархии не влияет на заданные отношения, тогда
                как изменение структуры полностью сбрасывает указанные приоритеты.
            </p>
            <section>
                <h5>Рассогласованность</h5>
                <p>
                    В процессе выставления приоритетов может возникнуть <i>рассогласованность</i> оценок.
                    Она обозначает, что в сравнение вкралась логическая ошибка, ведь если указано что А > Б и что Б > С по конкретному критерию, то С > A быть не может.
                </p>
                <p>
                    Для исправления необходимо скорректировать выставленные приоритеты таким образом, чтобы показатель согласованности находился в пределах от 0 до 0.2
                    (он отмечен справа от любого приоритета).
                </p>
            </section>
        </section>

        <section>
            <h4>4. Анализ результатов</h4>
            <p>
                Результаты представляют собой итоговый приоритет для каждой альтернативы и критерия. Вариант с <i>наибольшим коэффициентом</i> и является
                оптимальным выбором среди конкурентов.
            </p>
            <img src="Images/ВариантыВыбора.png" title="Варианты выбора после" />
            <p>
                <a href="hierarchy">Перейти к решению</a>
            </p>
        </section>

    </section>
</section>
