
th {
    text-align: left;
}
.row {
    display: flex;
}
.center {
    align-items: center;
}

.actions-panel {
    display: flex;
    flex-direction: row;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding: 2px 5px;
}

.action-button {
    color: darkslategray;
    background-color: white;
    border: 1px solid silver;
    border-radius: 2px;
    padding: 4px 8px;
    outline-color: gray;
    cursor: pointer;

    display: flex;
    align-items: center;

    margin: 4px 2px;
}
.action-button:hover{
    background-color: whitesmoke;
}
.action-button:active{
    background-color: gainsboro;
}

    .action-button img {
        height: 15px;
        margin: 2px;
        opacity: 0.7;
    }
    .action-button:hover img {
        opacity: 1;
    }
    .action-button:active img {
        opacity: 1;
    }


.add-button{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid gray;
    padding: 8px;
}
.add-button:hover{
    background-color: lightgreen;
}
    .add-button:active {
        background-color: #83ec83;
    }


    .delete-button{
        color: darkred;
    }
    .delete-button:hover{

    }
    .delete-button:active{

    }

    .special-button{
        opacity: 50%;
    }
    .special-button:hover{
        opacity: 75%;
    }
    .special-button:active{
        opacity: 100%;
    }


.remove-task {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    align-self: flex-start;
    margin: 5px 0;
    padding: 5px 7px;
    color: darkred;
}

    .remove-task:hover {
        background-color: lightpink;
    }


.option-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 24em;
    margin: 6px 0;
}

.option-name {
    font-size: 0.9em;
}

.option-input {
    border: 0;
    border-bottom: 1px solid gainsboro;
    outline-color: gainsboro;
    text-align: right;
}

    .option-input[type=number] {
        width: 8em;
    }


    .text-center{
        text-align: center;
    }
    .text-header4{

    }
    .text-em-12{
        font-size: 1.2em;
    }
    .text-em-11 {
        font-size: 1.1em;
    }
    .text-em-08 {
        font-size: 0.8em;
    }

    .no-margin{
        margin: 0;
    }
    .margin-bottom-5{
        margin-bottom: 5px;
    }


.status-bar {
    margin: 5px 10px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    min-height: 2em;
    font-size: 0.9em;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding: 8px 0;
    border-width: 0;
}

.status-bar-info {
    align-self: center;
    flex: 6;
}

.status-bar-properties {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 10px;
    font-size: 0.9em;
}

    .status-bar-properties .property-name {
        color: gray;
    }

    .status-bar-properties .property-value {
        margin-right: 2em;
        margin-left: 4px;
    }
