h2 {
    margin: 10px 4px;
    font-size: 1.4em;
    font-weight: normal;
}
h3{
    margin: 8px 0;
    font-size: 1.35em;
    font-weight: normal;
}
h4{
    margin: 6px 0;
}
h5{
    margin: 4px 0;
}


.tab-header {
    margin: 2px 4px;
}
    h3.tab-header {
        font-size: 1em;
    }
    .selected h3.tab-header{
        font-weight: 500;
    }
    h4.tab-header{
        font-weight: 400;
    }
    h5.tab-header {
        font-weight: 400;
    }


.warning {
    color: #986b00;
}
.error {
    color: darkred;
}

a.warning {
    color: #986b00;
}

a.error {
    color: darkred;
}