@*
    Компонент заполняемого прогресс-бара
*@

<div class="progress-block">
    @if (TextPercentage != null)
    {
        <div class="progress-text">
            <span>
                @TextPercentage @(Math.Round(Percentage))%
            </span>
        </div>
    }
    <div class="progress-bar" style="border-color: @ColorBorder">
        <div class="progress-bar-filled" style="width:@(Math.Round(Percentage))%; background-color:@ColorFill; height:@(Height)px">

        </div>
    </div>
</div>

@code {
    [Parameter]
    public CountInfo ValueInfo { get; set; }
    [Parameter]
    public double Value { get; set; }
    [Parameter]
    public double Maximum { get; set; }
    [Parameter]
    public int Height { get; set; } = 3;


    [Parameter]
    public string TextPercentage { get; set; }
    [Parameter]
    public string ColorFill { get; set; }
    [Parameter]
    public string ColorBorder { get; set; } = "#c8c8c8";


    private double Percentage => ValueInfo?.Percentage ?? Value / Maximum * 100.0;

}
