<div class="warning-body" style="border-color:@Color">
    <b class="warning-header">
        @Header
    </b>
    <br />
    <p class="warning-text">
        @Message
    </p>
</div>

@code {
    [Parameter]
    public string Header { get; set; }
    [Parameter]
    public string Message { get; set; }
    [Parameter]
    public string Color { get; set; } = "#9e9e00";
}
