<style>

</style>

<footer>
    <p>
        <span class="system-name">
            Система «Альтернатива»
        </span>
        <br>
        <span class="author">
            Королев А.И., Институт Информационных Систем, ПИ4-2. 
        </span><br />
        <span>
            Дипломный проект
            <a href="https://guu.ru/">
                ГУУ
            </a>
        </span>
        <br>
        <a href="https://github.com/Alleaxx/DSS">
            Репозиторий GitHub
        </a>
    </p>
</footer>
