<footer>
    <p>
        <span class="system-name">
            © 2021 Система «Альтернатива»
        </span>
    </p>
    <p>
        <span class="author">
            Королев А.И., Институт Информационных Систем, ПИ4-2 2017.
        </span>
        <br />
        <span>
            Дипломный проект
            <a href="https://guu.ru/">
                ГУУ
            </a>
        </span>
    </p>
    <p>
        <a href="https://github.com/Alleaxx/DssAlternative">
            Репозиторий GitHub
        </a>
    </p>
</footer>
