<footer>
    <p>
        <span class="system-name">
            © 2022 Система «Альтернатива»
        </span>
    </p>
    <p>
        <span class="author">
            Меденцева Юлия Николаевна
        </span>
        <br />
        <span>
            Выпускная квалификационная работа
            <a href="https://guu.ru/">
                Ставропольский филиал ТИС
            </a>
        </span>
    </p>
    <p>
        <a href="https://github.com/Alleaxx/DssAlternative">
            Репозиторий GitHub
        </a>
    </p>
</footer>
