<style>
    .logo a {
        text-decoration: none;
        color: black;
    }
</style>

<header class="logo">
    <a href="home">
        <h1><span style="color:orange">DSS</span>  «Альтернатива»</h1>
    </a>
</header>
