.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .main-header ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

.main-header li {
    margin: 5px 20px;
}
