<style>
    .main-header a {
        text-decoration: none;
        font-family: "Calibri Light";
        font-size: 1.35em;
        text-align: center;
    }

    .main-header .links {
        text-transform: uppercase;
    }

        .main-header a:hover {
            color: black;
        }

    .main-header a.active{
        color: black;
        font-weight: 600;
    }
</style>
<div class="main-header">
    <ul class="links">
        <li>
            <NavLink href="info">
                О системе
            </NavLink>
        </li>
        <li>
            <NavLink href="start">
                Принятие решений
            </NavLink>
        </li>
        <li>
            <NavLink href="info">
                Пример задачи
            </NavLink>
        </li>
    </ul>
    <AccountView></AccountView>
</div>