.task-row {
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
}
.task-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid gainsboro;
}

.state-control .add-task {
    font-size: 0.9em;
    border: 1px solid lightgreen;
    color: green;
    background-color: transparent;
    margin-bottom: 8px;
}

    .state-control .add-task:hover {
        background-color: lightgreen;
    }


    .state-control{
        display : flex;
        flex-direction: column;
        padding: 4px 0;
    }
    .state-control button{
        margin: 1px 5px;
        margin-top: 1px;
        margin-bottom: 1px;
    }
    .state-control h3{
        font-size: 1em;
        margin-left: 4px;
        margin-right: 4px;
    }

    .state-control .save:hover{
        color: green;
        border-color: green;
    }
    .state-control .save:active{
        color: green;
        border-color: limegreen;
    }
    .state-control .load:hover{
        color: darkred;
        border-color: darkred;
    }
    .state-control .load:active{
        color: darkred;
        border-color: darkred;
    }

    .link-return{
        text-decoration: none;
        color: darkblue;
    }
    .link-return:hover{
        color: blue;
    }