@inherits DSSProject

<nav class="menu-projects">
    <h2 class="text-center">
        Список задач
    </h2>
    <div class="actions-panel">
        <button class="action-button save" @onclick="SaveProgress" title="Сохранить все текущие задачи">
            <img src="Images/save.svg" />
            <span>Сохранить все</span>
        </button>
        <button class="action-button load" @onclick="LoadProgress" title="Восстановить все ранее сохраненные задачи">
            <img src="Images/download.svg" />
            <span>Восстановить все</span>
        </button>
    </div>
    <ul class="task-menu">
        <CascadingValue Value="this">
            @foreach (var project in Projects)
            {
                <li>
                    <ProjectTask Project="project"></ProjectTask>
                </li>
            }
        </CascadingValue>
    </ul>
    <div class="state-control">
        <button class="add-task action-button" @onclick="CreateProblem">
            <img src="Images/plus-square.svg" />
            <span>Создать новую задачу</span>
        </button>
    </div>
</nav>

@code{

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Dss.OnProjectRemoved += StateHasChanged;
        Dss.OnProjectAdded += StateHasChanged;
    }

    private void CreateProblem()
    {
        Dss.AddProject();
        Dss.SelectProject(Dss.Projects.Last());
    }

    private void SaveProgress()
    {
        Account.SaveState();
    }
    private void LoadProgress()
    {
        Account.LoadState();
    }
}