.task-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
}
.task-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: stretch;
}

.add-task {
    font-size: 0.9em;
    border: 1px solid lightgreen;
    color: green;
    padding: 4px 1em;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0;
}

    .add-task:hover {
        background-color: lightgreen;
    }


    .state-control{
        margin: 4px 0;
    }
    .state-control button{
        margin-top: 1px;
        margin-bottom: 1px;
    }
