.task-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
}
.task-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: stretch;
}

.add-task {
    font-size: 0.9em;
    border: 1px solid lightgreen;
    color: green;
    padding: 3px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0;
}

    .add-task:hover {
        background-color: lightgreen;
    }


    .state-control{
        display : flex;
        padding: 4px 0;
        border-bottom: 1px solid gainsboro;
    }
    .state-control button{
        margin: 1px 5px;
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .state-control .save:hover{
        color: green;
    }
    .state-control .load:hover{
        color: darkred;
    }
