@inherits DSSProject
<nav class="menu-projects">
    <ul class="task-menu">
        <CascadingValue Value="this">
            @foreach (var project in DSSApp.Projects)
            {
                <li>
                    <ProjectTask Project="project"></ProjectTask>
                </li>
            }
        </CascadingValue>
    </ul>
    <div class="state-control">
        <button class="add-task action-button" @onclick="CreateProblem">
            <span>Создать новую задачу</span>
        </button>
        <button class="action-button" @onclick="() => Account.SetTemplate(Project)">
            Сохранить текущую задачу
        </button>
        <button class="action-button save" @onclick="SaveProgress">
            <span>Сохранить все</span>
        </button>
        <button class="action-button load" @onclick="LoadProgress">
            <span>Восстановить</span>
        </button>
    </div>
</nav>

@code{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        DSSApp.OnProjectRemoved += StateHasChanged;
    }

        private void CreateProblem()
    {
        DSSApp.AddProject(AhpHierarchy.CreateNewProblem());
    }

    private void SaveProgress()
    {
        Account.SaveState();
    }
    private void LoadProgress()
    {
        Account.LoadState();
    }
}