@inherits DSSProject
<nav>
    <div class="task-row">
        <ul class="task-menu">
            <CascadingValue Value="this">
                @foreach (var project in DSSApp.Projects)
                {
                    <li>
                        <ProjectTask Project="project"></ProjectTask>
                    </li>
                }
            </CascadingValue>
            <li>
                <button class="add-task" @onclick="CreateProblem">
                    <span>Создать</span>
                </button>
            </li>
        </ul>
    </div>
    <div class="state-control">
        <button class="action-button save" @onclick="SaveProgress">
            <span>Сохранить прогресс</span>
        </button>
        <br />
        <button class="action-button load" @onclick="LoadProgress">
            <span>Загрузить</span>
        </button>
    </div>
</nav>

@code{

    private void CreateProblem()
    {
        DSSApp.AddProject(DSSExample.CreateNewProblem());
    }

    private void SaveProgress()
    {
        Account.SaveState();
    }
    private void LoadProgress()
    {
        Account.LoadState();
    }
}