<div class="tabset">
    <CascadingValue Value="this">
        <ul class="tab-items">
            @ChildContent
        </ul>
        <div class="tab-content">
            @ActiveTab?.ChildContent
        </div>
    </CascadingValue>
</div>

@code {
    public IEnumerable<ITabItem> TabItems { get; private set; }

    public ITabItem ActiveTab { get; private set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }


    public void AddTab(ITabItem tab)
    {
        if(ActiveTab == null)
        {
            SetTab(tab);
        }
    }

    public void SetTab(ITabItem tab)
    {
        if(tab != ActiveTab)
        {
            ActiveTab = tab;
            StateHasChanged();
        }
    }
}
