.tabset {
}

.tab-items {
    list-style: none;
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding-left: 0;
    border-bottom: 1px solid gainsboro;
}

.tab-content {
    padding: 0.25em;
}
