@implements ITabItem

<li class="tab-item @IsSelected()" @onclick="SetTab">
    @Title
</li>

@code {
    [CascadingParameter]
    public Tab OwnerTabSet { get; set; }

    [Parameter]
    public RenderFragment Title { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private string IsSelected()
    {
        if(OwnerTabSet.ActiveTab == this)
        {
            return "selected";
        }
        return "";
    }

    private void SetTab()
    {
        OwnerTabSet.SetTab(this);
    }

    protected override void OnInitialized()
    {
        OwnerTabSet.AddTab(this);
    }
}
