@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<link rel="stylesheet" href="css/app.css" />

<section class="grid">
    <Logo />
    <MainHeader />

    <MenuTask />

    <Menu />
    <main>
        @Body
    </main>

    <nav class="lower-menu">
    </nav>

    <Footer />
</section>

@code{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (DSS.Ex.Project == null)
            NavigationManager.NavigateTo("start");
    }
}

