<style>
    /* Стили для ссылок здесь, чтобы они нормально применялись для NavLink */
    .main-header a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .main-header .links {
    }
    .main-header a{
        color: royalblue;
    }
    .main-header a img{
        height: 30px;
        margin: 0 6px;
        opacity: 0.25;
    }

        .main-header a:hover {
            color: blue;
        }

    .main-header a.active{
        color: black;
    }
    .main-header a.active img{
        opacity: 1;
    }
</style>

<div class="main-header">
    <ul class="links">
        <li>
            <NavLink href="info" class="text-em-12">
                <img src="Images/clipboard.svg"/>
                О приложении
            </NavLink>
        </li>
        <li>
            <NavLink href="hierarchy" class="text-em-12">
                <img src="Images/play.svg" />
                Принятие решений
            </NavLink>
        </li>
        <li>
            <NavLink href="example" class="text-em-12">
                <img src="Images/bookmark.svg" />
                Принцип работы
            </NavLink>
        </li>
        <li>
            <NavLink href="settings"class="text-em-12">
                <img src="Images/settings.svg" />
                <span>Настройки</span>
            </NavLink>
        </li>
    </ul>

    <AccountView></AccountView>
</div>