.tab-item {
    padding: 5px 15px;
    border: 1px solid transparent;
}


    .tab-item:hover {
        cursor: pointer;
        background-color: whitesmoke;
        border: 1px solid silver;
    }

    .tab-item.selected {
        background-color: gainsboro;
        border: 1px solid silver;
    }
