@inherits LayoutComponentBase
<link rel="stylesheet" href="css/app.css" />

<section class="grid">
    <Logo />

    <MainHeader />

    <MenuProjects />

    <Menu />

    <main>
        @Body
    </main>

    <nav class="lower-menu"></nav>

    <Footer />
</section>

