@inherits LayoutComponentBase
<link rel="stylesheet" href="css/app.css" />

<section class="grid">
    <Logo />

    <MainHeader />

    <MenuProjects />

    <Menu />

    <main>
        @Body
    </main>

    <nav class="lower-menu"></nav>

    <Footer />
</section>

@code{
    [Inject]
    public IDssProjects Dss { get; set; }
    [Inject]
    public NavigationManager Navigation { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (Dss.Project == null)
        {
            if (!Dss.Projects.Any())
            {
                Dss.AddProject();
            }
            Dss.SelectProject(Dss.Projects.First());
        }
    }
}