@using System.IO;
@inherits DSSComponentProject

@*
    Компонент списка открытых задач
*@


<nav class="menu-projects">
    <ul class="task-menu">
        <CascadingValue Value="this">
            @foreach (var project in ProjectsCollection.ActiveProjects)
            {
                <li>
                    <ProjectItemComponent Project="project"></ProjectItemComponent>
                </li>
            }
        </CascadingValue>
    </ul>

    <div class="state-control">

        <button class="add-task action-button" @onclick="CreateProblem">
            <img src="Images/plus-square.svg" />
            <span>Создать новую задачу</span>
        </button>

        <label class="file-input-label action-button add-task">
            <img src="Images/download.svg" />
            <span>Загрузить из файла</span>
            <div class="file-input">
                <InputFile OnChange="FileUpload">

                </InputFile>
            </div>
        </label>
    </div>
</nav>

@code {
    [Inject]
    public IFileService FileService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        ProjectsCollection.OnActiveProjectsChanged += StateHasChanged;
    }
    public override async ValueTask DisposeAsync()
    {
        await base.DisposeAsync();
        ProjectsCollection.OnActiveProjectsChanged -= StateHasChanged;
    }

    private async Task FileUpload(InputFileChangeEventArgs e)
    {
        if(e.File == null)
        {
            return;
        }
        var projectTemplate = await FileService.TryReadFile<TemplateProject>(e.File);
        if(Project != null)
        {
            ProjectsCollection.AddProject(projectTemplate);
            Logger.AddUIInfo(Project, $"Загружена задача \"{projectTemplate.Name}\" из файла", $"Имя файла: {e.File.Name}");
        }
    }

    private void CreateProblem()
    {
        ProjectsCollection.AddProject();
        ProjectsCollection.SelectProject(ProjectsCollection.ActiveProjects.Last());
        Logger.AddUIInfo(Project, $"Создана новая задача", $"");
    }
    private void SaveProgress()
    {
        Account.SaveStateWithActiveProjects();
        Logger.AddUIInfo(Project, $"Все активные задачи сохранены", $"");
    }
    private void LoadProgress()
    {
        Account.LoadLastState();
        Logger.AddUIInfo(Project, $"Активные задачи восстановлены", $"");
    }
}