.task-menu-element {
    display: flex;
    cursor: pointer;
    padding: 2px 0;
    border-bottom: 1px solid gainsboro;
    text-decoration: none;
    margin: 2px 0px;
}

    .task-menu-element:hover {
        color: darkblue;
        background-color: whitesmoke;
    }

    .task-menu-element.selected {
        opacity: 100%;
        background-color: gainsboro;
    }
    .selected .task-element-name{
        color: black;
        font-weight: 500;
    }


.task-element-sheme {
    flex: 2;
    min-height: 50px;
}

.task-element-header {
    flex: 8;
    text-decoration: none;
}

.task-link {
    display: flex;
    flex: 1;
    align-items: center;
    text-decoration: none;
}

.task-element-name {
    margin: 0;
    color: black;
    font-weight: 400;
}

.task-element-descr {
    color: gray;
    font-size: 0.8em;
    margin: 3px 0;
}
