
.preset {
    padding: 4px;
    border: 1px solid gainsboro;
    border-radius: 4px;

    cursor: pointer;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.preset:hover{
    background-color: whitesmoke;
}
.preset:active{
    border: 1px solid green;
    background-color: ghostwhite;
}

.preset-img {
    flex: 1;
    width: 30px;
    margin: 4px;
    max-height: 50px; 
}

.preset-info{
    flex: 5;
}
.preset-name {
    grid-area: name;
    font-size: 0.9em;
    margin: 0;
    font-weight: normal;
}

.problem-name {
    grid-area: name;
    font-size: 0.8em;
    margin: 0;
}

.preset-descr {
    font-size: 0.8em;
    margin: 4px 0;
    color: gray;
}

.problem-status {
    font-size: 0.8em;
    margin: 4px 0;
    color: gray;
}


.preset-load {
    flex: 1;
    height: 24px;
    margin-left: 1em;
    border: 1px solid gray;
    background-color: transparent;
}

    .preset-load:hover {
        background-color: lightgreen;
        cursor: pointer;
    }
