@inherits DSSComponent
<section class="preset" @onclick="() => Dss.AddProject(Template)">
    <img class="preset-img" title="@Template.Name" src="Images/@Template.Img" />
    <div class="preset-info">
        <h4 class="preset-name">@Template.Name</h4>
        <p class="preset-descr">@Template.Description</p>
    </div>
</section>

@code {
    [Parameter]
    public ITemplate Template { get; set; }

    [CascadingParameter]
    public Start StartComponent { get; set; }
}
