.rel-menu-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 4px 0;
    padding-bottom: 3px;
    margin-bottom: 0;
}

    .rel-menu-list-header h3 {
        font-size: 1em;
        font-weight: 400;
        margin: 0;
    }
    .rel-menu-list-header .cr{
        font-size: 0.9em;
    }

    .rel-menu-list-header.safe {
        border-bottom: 1px solid gainsboro;
    }

    .rel-menu-list-header.warning {
        border-bottom: 1px solid #cccc10;
    }

    .rel-menu-list-header.error {
        border-bottom: 1px solid red;
    }

.rel-menu-element {
    display: block;
    font-size: 0.8em;
    color: black;
    padding: 4px 0;
    border-bottom: 1px solid gainsboro;
    text-decoration: none;
    cursor: pointer;
    border-left: 3px solid gainsboro;
    border-right: 1px solid gainsboro;
    padding: 5px;
}

    .rel-menu-element.safe {
        border-right: 1px solid lightgreen;
        border-bottom: 1px solid lightgreen;
    }

    .rel-menu-element.warning {
        border-right: 1px solid #cccc10;
        border-bottom: 1px solid #cccc10;
    }

    .rel-menu-element.error {
        border-right: 1px solid red;
        border-bottom: 1px solid red;
    }
    .rel-menu-element:hover {
        background-color: whitesmoke;
        color: blue;
    }

.rel-menu-list {
    list-style: none;
    margin: 5px 0;
    margin-top: 0;
}
    .rel-menu-list a {
        color: black;
        text-decoration: none;
    }

.rel-menu-element.active {
    border-left-color: orange;
    font-weight: bold;
}


.criteria-state {
    font-size: 0.85em;
    color: black;
    margin-left: 2em;
}

.criteria-relations {
}

.rel-menu-list .selected {
    font-weight: bold;
}
