body {
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "logo header"
        "navside content"
        "footer footer";
}

.logo {
    grid-area: logo;
    background-color: rgb(230, 230, 230);
    border-bottom: 2px solid gainsboro;
    border-right: 1px solid gainsboro;
    display: flex;
    justify-content: center;
    text-align: center;
}

.main-header {
    grid-area: header;
    background-color: rgb(240, 240, 240);
    border-bottom: 2px solid gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navside {
    grid-area: navside;
    background-color: rgb(250, 250, 250);
    border-right: 1px solid gainsboro;
}


main {
    grid-area: content;
    padding: 0px 10px;
    margin: 0;
    max-width: initial;
}

.grid > footer {
    grid-area: footer;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding: 20px;
}

.row {
    display: flex;
}

.center {
    align-items: center;
}

