body {
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 25fr 75fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "logo header"
        "navside upper-menu"
        "navside content"
        "navside lower-menu"
        "footer footer";
}

.logo {
    grid-area: logo;
    background-color: rgb(230, 230, 230);
    border-bottom: 2px solid gainsboro;
    border-right: 1px solid gainsboro;
    display: flex;
    justify-content: center;
}

    .logo a {
        text-decoration: none;
        color: black;
    }


.main-header {
    grid-area: header;
    background-color: rgb(240, 240, 240);
    border-bottom: 2px solid gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .main-header ul {
        list-style: none;
    }

    .main-header li {
        margin: 5px 20px;
    }

    .main-header a {
        text-decoration: none;
    }

        .main-header a:hover {
            text-decoration: underline;
        }


.upper-menu {
    grid-area: upper-menu;
}

    .upper-menu ul {
        display: flex;
        list-style: none;
        border-top: 1px solid gainsboro;
        border-bottom: 1px solid gainsboro;
        margin: 0;
        padding: 0;
    }

    .upper-menu h3 {
        margin: 5px;
        padding: 5px 0;
    }

    .upper-menu ul li {
        display: block;
    }

    .upper-menu ul a {
        height: 30px;
        padding: 5px 25px;
        border-right: 1px solid gainsboro;
        border-bottom: 2px solid lightgreen;
        text-decoration: none;
        color: rgb(68, 68, 68);
        display: flex;
        align-items: center;
    }

    .upper-menu a img {
        height: 20px;
        padding: 4px;
    }

    .upper-menu ul a:hover {
        background-color: rgb(255, 243, 221);
    }



.lower-menu {
    grid-area: lower-menu;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    display: flex;
}

    .lower-menu a {
        border-right: 1px solid gainsboro;
        text-align: center;
        text-decoration: none;
        color: black;
        padding: 10px;
        width: 50%;
    }

        .lower-menu a:hover {
            background-color: rgb(255, 243, 221);
        }


.navside {
    grid-area: navside;
    background-color: rgb(250, 250, 250);
    border-right: 1px solid gainsboro;
}

    .navside h2 {
        text-align: center;
        font-size: 1.15em;
    }

    .navside h3 {
        padding: 5px 0;
        margin: 10px 0;
        border-bottom: 1px solid gainsboro;
    }

    .navside ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin-top: 0;
    }

        .navside ul li {
            border-bottom: 1px solid gainsboro;
        }

        .navside ul li {
            border-bottom: 0;
        }


        .navside ul a {
            display: grid;
            grid: auto 1fr / auto 1fr;
            grid-template-areas:
                "image header"
                "image description";
            padding: 4px;
            text-decoration: none;
        }

            .navside ul a h4 {
                color: black;
                font-size: 0.85em;
                margin: 0;
            }

            .navside ul a.active {
                background-color: white;
                border-right: 3px solid orange;
            }

            .navside ul a p {
                color: gray;
                font-size: 0.8em;
                margin: 3px 0;
            }

            .navside ul a:hover {
                background-color: white;
            }

        .navside ul img {
            grid-area: image;
            width: 50px;
            height: 50px;
            border-radius: 2px;
            margin: 0 10px;
        }


main {
    grid-area: content;
    padding: 0px 10px;
}

.grid > footer {
    grid-area: footer;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding: 20px;
}

.row {
    display: flex;
}

ul.tasks {
}

.task-menu li {
    border-bottom: 1px solid gainsboro;
}

ul.relations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px 40px;
}

    ul.relations a {
        height: 12px;
        font-size: 0.8em;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 5px 10px;
        margin: 0 3px;
    }

.navside ul .icon {
    height: 16px;
    width: 16px;
    padding: 6px;
}

.center {
    align-items: center;
}



.task-menu a {
    border-bottom: 1px solid gainsboro;
}

.stage-menu a {
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid lightgreen;
    border-left: 2px solid lightgreen;
}

.next-menu {
    display: flex;
}

    .next-menu a {
        width: 50%;
        border-top: 1px solid gainsboro;
        border-bottom: 1px solid gainsboro;
        border-left: 1px solid gainsboro;
        padding: 5px 10px;
        text-decoration: none;
        color: black;
        text-align: center;
    }

        .next-menu a:hover {
            background-color: white;
        }
