.grid {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "logo header"
        "content content"
        "footer footer";
}

main {
    grid-area: content;
    min-width: 640px;
    max-width: 1000px;
    margin: auto;
    border-right: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    padding: 0px 10px;
}
