.example-section {
    display: flex;
    align-items: center;
    margin: 3px 5px;
}

.example-block {
    border: 1px solid;
    border-radius: 2px;
    height: 20px;
    width: 20px;
    margin: 5px;
}

.example-description {
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 0.9em;
    font-family: Consolas;
}
