@page "/updates"

<section>
    <h2>Обновления</h2>
    <ul>
        <li>...</li>
    </ul>
    <section>
        <h3>Проблемы</h3>
        <ul>
            <li>Отсутстует вкладки в интерфейсе иерархии</li>
            <li>Отсутствует визуальный редактор подкритериев</li>
            <li>Полный п. с переключением задач на странице отношений</li>
            <li>Некорректное отображение исключений</li>
            <li>Не работают предопределенные шаблоны выбора</li>
            <li>Бардак со стилями</li>
            <li>Нет сохранения в файл</li>
            <li>Нет отчетов</li>
        </ul>
    </section>
</section>



@code {

}
