@inherits DSSComponentProjectV2

<div class="relations-navigation">
    <div class="nav-prevnext">
        <a class="link-prev" @onclick="SetPrev" role="button">
            ← назад
        </a>
        <a class="link-next" @onclick="SetNext" role="button">
            вперед →
        </a>
    </div>
    @if (Project.Relations.Correct)
    {
        <div class="nav-result">
            <a class="link-result" href="@LinksEnum.LinkResults">
                Доступен результат!
            </a>
        </div>
    }
</div>

@code {

    protected IRelationNode Prev => Relations.PrevRequiredRel(RelationSelected);
    protected IRelationNode Next => Relations.NextRequiredRel(RelationSelected);

    private void SetNext()
    {
        SelectRelation(Next);
    }
    private void SetPrev()
    {
        SelectRelation(Prev);
    }
}
