td {
    padding: 8px 24px;
    border-right: 1px solid gainsboro;
}
.rating {
    display: flex;
    justify-content: center;
    border-radius: 5px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    padding: 3px 0;
}
.non-selectable{
    background: whitesmoke;
}

.selected .rating {
    border-left: solid 4px orange;
    border-right: solid 4px orange;
}
.selected.safe .rating {
    border-left-color: #00d200;
    border-right-color: #00d200;
}
.selected.dangerous .rating {
    border-left-color: red;
    border-right-color: red;
}
.selectable .rating {
    border-left: solid 4px transparent;
    border-right: solid 4px transparent;
}
    .selectable .rating:hover {
        border-left: solid 4px orange;
        border-right: solid 4px orange;
    }
    .selectable.safe .rating:hover {
        border-left: solid 4px lightgreen;
        border-right: solid 4px lightgreen;
    }
.selectable.dangerous .rating:hover {
    border-left: solid 4px #ffa2a2;
    border-right: solid 4px #ffa2a2;
}
.selectable .rating:hover {
    border-left: solid 4px silver;
    border-right: solid 4px silver;
    cursor: pointer;
}

/*.selected.safe .rating {
    border-bottom: 3px solid lightgreen;
}
.selected.usual .rating {
    border-bottom: 3px solid gainsboro;
}
.selected.dangerous .rating {
    border-bottom: 3px solid red;
}
.selected.unknown .rating {
    border-bottom: 3px solid #e7de79;
}*/



.cr {
    min-width: 40px;
    margin-right: 4px;
    margin-left: 4px;
}

.safe {

}
    .safe .cr {
        color: #00d885;
    }

.dangerous {

}
.dangerous .cr{
    color: red;
}
