@*
    Компонент "подвала"
*@

<footer class="layout-footer">
    <p>
        <span class="system-name">
            © 2025 Система «Альтернатива»
        </span>
    </p>
    <p>
        <span class="author">
            Королев А.И., Институт Информационных Систем, ПИ4-2 2017.
        </span>
        <br />
        <span>
            Дипломный проект
            <a href="https://guu.ru/" target="_blank">
                ГУУ
            </a>
        </span>
    </p>
    <p>
        <a href="https://github.com/Alleaxx/DssAlternative" target="_blank">
            Репозиторий GitHub
        </a>
    </p>
</footer>
