@*
    Компонент основного навигационного меню сайта
*@

<div class="nav-menu-main">
    <ul class="links-list">
        <li>
            <NavLink href="info">
                <img src="Images/clipboard.svg"/>
                Использование системы
            </NavLink>
        </li>
        <li>
            <NavLink href="hierarchy">
                <img src="Images/play.svg" />
                Принятие решений
            </NavLink>
        </li>
        <li>
            <NavLink href="example">
                <img src="Images/bookmark.svg" />
                Принцип работы
            </NavLink>
        </li>
    </ul>
</div>