
th {
    text-align: left;
}
.row {
    display: flex;
}
.center {
    align-items: center;
}






/*.stage-area {
    display: flex;
}

    .stage-area a {
        flex-basis: 50%;
        text-align: center;
        color: black;
        padding: 8px 0;
        border: 1px solid lightgreen;
    }

        .stage-area a:hover {
            background-color: lightgreen;
        }

.node-edit {
    font-size: 0.9em;
}*/



