body {
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 20fr 80fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "logo header"
        "menu navside"
        "menu content"
        "footer footer";
}

.menu{
    grid-area: menu;
    height: 30px;
    border-bottom: 1px solid gainsboro;
}

.logo {
    grid-area: logo;
    background-color: rgb(230, 230, 230);
    border-bottom: 2px solid gainsboro;
    border-right: 1px solid gainsboro;
    display: flex;
    justify-content: center;
    text-align: center;
}

.main-header {
    grid-area: header;
    background-color: rgb(240, 240, 240);
    border-bottom: 2px solid gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navside {
    grid-area: navside;
    border-bottom: 2px solid gainsboro;
}
.menu-projects {
    grid-area: menu;
    border-right: 1px solid gainsboro;
}

main {
    grid-area: content;
    padding: 0px 5px;
    margin: 0;
    max-width: 1300px;
    min-height: 60vh;
}

.grid > footer {
    grid-area: footer;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding: 5px 20px;
}


.loading{
    background-color: whitesmoke;
}
.loading p{
    margin: auto;
    padding: 30px 20px;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 2px;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 3em;
}

