h2 {
    margin: 12px 6px;
    font-size: 1.5em;
    font-weight: normal;
}
h3{
    margin: 8px 0;
    font-size: 1.35em;
    font-weight: normal;
}
.tab-header {
    margin: 5px 0;
    font-weight: 500;
}


.warning {
    color: #986b00;
}
.error {
    color: darkred;
}

a.warning {
    color: #986b00;
}

a.error {
    color: darkred;
}

.tab-items h4{
    margin: 2px 4px;
}