@inherits DSSComponentRelation

    <style>
        .more-options {
            margin-top: 2em;
        }

        .more-options-header {
        }
    </style>

    <style>
        .actions-section {
            padding: 2px 5px;
            justify-content: center;
            align-items: center;
        }

        .action {
            display: flex;
            padding: 5px 2px;
            border: 1px solid gray;
            border-radius: 2px;
            font-size: 0.7em;
            margin: auto;
            margin-top: 5px;
            margin-bottom: 5px;
            width: 75%;
            align-items: center;
            cursor: pointer;
        }

        .action-header {
            padding: 10px 0;
            border-bottom: 1px solid gainsboro;
        }

        .action-icon {
            height: 20px;
            margin: auto;
            opacity: 50%;
        }

        .more-options a.action:hover {
            color: black;
            text-decoration: none;
        }

        .action:hover .action-icon {
            opacity: 100%;
        }

        .more-options-add {
            font-size: 0.9em;
            color: gray;
        }

        .action-name {
            width: 80%;
            color: black;
            font-size: 0.8em;
        }

        .clear-relations:hover {
            border: 1px solid red;
        }

            .clear-relations:hover .action-name {
                color: red;
            }

        .new-system {
            padding: 10px 0;
            border: 1px solid gainsboro;
        }

        .clear-relation {
            background: transparent;
            border: 1px solid whitesmoke;
            padding: 5px 15px;
            width: 100%;
            cursor: pointer;
        }

            .clear-relation:hover {
                background-color: lightpink;
            }

        .matrix .results-text {
            padding: 20px 0;
            border-bottom: 1px solid gray;
            border-top: 1px solid gray;
            text-align: center;
        }

        .prev-next-stages a {
            color: blue;
        }

            .prev-next-stages a:hover {
                color: black;
                text-decoration: none;
            }

        .next, .prev {
            display: block;
            margin: auto;
        }

        .errors-list {
            margin: 10px 0;
        }

        .hier-fail {
            border: 2px solid red;
            border-radius: 3px;
            font-size: 0.8em;
            cursor: pointer;
            text-align: center;
            padding: 4px;
            margin: 0 4px;
        }

            .hier-fail.known {
                border: 1px solid #c1c100;
            }

            .hier-fail.consistent {
                border: 1px solid darkred;
            }

            .hier-fail:hover {
                background-color: lightpink;
            }

        .unknown {
            background-color: whitesmoke;
        }
    </style>


    <section>
        <h4>Настройки</h4>
        <div>
            <label for="amount">Количество градаций оценок:</label><br />
            <input id="amount" type="number" @bind-value="@DSSApp.RatingSystem.Amount" min="1" max="9" />
        </div>
        <div>
            <label for="border-cons">Граница согласованности</label><br />
            <input id="border-cons" type="number" @bind-value="@MatrixConsistenct.BorderConsistenct" />
        </div>
    </section>

    <section class="more-options">
        <h4 class="more-options-header">
            Состояние
        </h4>
        <div class="errors-list">
            @foreach (var error in RelationState.Errors(Relation.Main))
            {
                <Warning Header="Внимание" Message="@error.Message">

                </Warning>
            }
            @if (!RelationState.Errors(Relation.Main).Any())
            {
                <p>
                    Матрица согласована и заполнена, всё отлично
                </p>
            }
        </div>
    </section>
    @code {

    }
