
.rating-system {
}

    .rating-system th {
        font-size: 0.95em;
        font-weight: 500;
        border-bottom: 1px solid gainsboro;
        padding: 2px 5px;
    }

    .rating-system input {
        width: 90%;
        border: 0;
        outline: 0;
    }

.rating-system {
    border-collapse: collapse;
}

    .rating-system td {
        padding: 2px 5px;
        border-bottom: 1px solid gainsboro;
    }