
.prev-next-stages {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 12px 0;
}

    .prev-next-stages a {
        text-decoration: none;
        cursor: pointer;
        display: block;
        color: royalblue;
        font-size: 1.25em;
        border-radius: 5px;
        user-select: none;
    }

        .prev-next-stages a:hover {
            color: blue;
            background-color: rgb(250,250,250);
        }
.res {
    text-decoration: none;
    cursor: pointer;
    display: block;
    color: royalblue;
    font-size: 1.15em;
    border-radius: 5px;
}
    .res:hover {
        color: blue;
        background-color: rgb(250,250,250);
    }
    .res:active{
        color: blue;
        background-color: rgb(230,230,230);
    }
.prev, .next {
    flex: 2;
}
.next{
    flex: 6;
}
.prev, .next, .res{
    margin-top: 10px;
    padding: 10px 5px;
}



.relations-grid {
    display: flex;
    min-height: 75vh;
}

.relation-area {
    flex: 10;
    padding: 10px;
    border-left: 1px solid gainsboro;
}

.relation-current-header {
    text-align: center;
    font-size: 1.15em;
    margin-bottom: 0;
}

.criterias{
    flex: 4;
    padding: 10px;
}