@inherits LayoutComponentBase


<link rel="stylesheet" href="css/app.css" />
<section class="grid">
    <Logo />
    <MainHeader />

    <nav class="upper-menu">

    </nav>

    <Menu />
    <main>
        @Body
    </main>

    <nav class="lower-menu">
    </nav>

    <Footer />
</section>

@code{       
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    private void Changed()
    {
        Console.WriteLine("Интерфейс обновлен");
        StateHasChanged();
    }
}

