@inherits LayoutComponentBase
@inject NavigationManager NavigationManager


    @*Сюда будет подставляться запрошенный компонент*@
    @*<StageMenu URi="@(NavigationManager.ToBaseRelativePath(NavigationManager.Uri))" />*@

<link rel="stylesheet" href="/css/app.css" />
<section class="grid">
    <Logo />
    <MainHeader />

    <nav class="upper-menu">
        <!-- <section class="lower-menu">
            <a href="#">
                ← Назад
            </a>
            <a href="#">
                Далее →
            </a>
        </section> -->
        <!-- <ul>
            <li>
                <a href="#">
                    <img src="Иерархия.png" />
                    I ИЕРАРХИЯ
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="Отношения.png" />
                    II ОБЗОР
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="Результаты.png" />
                    III РЕЗУЛЬТАТЫ
                </a>
            </li>
        </ul> -->
    </nav>

    <Menu />
    <main>
        @Body
    </main>

    <nav class="lower-menu">
    </nav>

    <Footer />
</section>

