

<footer>
    <p>
        Система "Альтернатива"<br>
        Сделано Allexx'ом. Дипломный проект
        <a href="#">
            ГУУ
        </a>
        <br>
        <a href="#">
            Гитхаб
        </a>
    </p>
</footer>
@code {

}
