
<div class="main-header">
    <ul class="row">
        <li>
            <a href="/info">О системе</a>
        </li>
        <li>
            <a href="/start">Решение проблемы</a>
        </li>
        <li>
            <a href="#">Подробности</a>
        </li>
    </ul>
    Статус системы
</div>