
<div class="main-header">
    <ul class="row">
        <li>
            <a href="/info">О системе</a>
        </li>
        <li>
            <a href="/start">Поддержка принятия решений</a>
        </li>
        <li>
            <a href="#">О методе</a>
        </li>
    </ul>
    Статус системы
</div>