
<nav class="navside">

    <section class="stage-menu">
        <h2>Этапы решения</h2>
        <ul>
            <li>
                <NavLink class="row center" href="hierarchy">
                    <img class="icon" src="Images/Иерархия.png" />
                    <span>I - ИЕРАРХИЯ</span>
                </NavLink>
            </li>
            <li>
                <NavLink class="row center" href="view">
                    <img class="icon" src="Images/Отношения.png" />
                    <span>II - ОТНОШЕНИЯ</span>
                </NavLink>
            </li>
            <li>
                <ul class="relations row center">
                    @foreach (var rel in DSS.Ex.Problem.RelationsRequired)
                    {
                        <li>
                            <NavLink href="@($"relation/{DSS.Ex.Problem.RelationsAll.ToList().IndexOf(rel)}")">
                                О-@DSS.Ex.Problem.RelationsAll.ToList().IndexOf(rel)
                            </NavLink>
                        </li>
                    }
                </ul>
            </li>
            <li>
                <NavLink href="results">
                    <img class="icon" src="Images/Результаты.png" />
                    <span>III - РЕЗУЛЬТАТЫ</span>
                </NavLink>
            </li>
        </ul>
    </section>

    <!-- <section class="next-menu">
        <a href="#">
            ← Назад
        </a>
        <a href="#">
            Далее →
        </a>
    </section> -->

    <section class="task-menu">
        <h2>Открытые задачи</h2>
        <ul>
            @foreach (var project in DSS.Ex.Problems)
            {
                <li>
                    <a class="@(project.Problem == DSS.Ex.Problem ? "active" : "")" @onclick="@(() => { DSS.Ex.SelectProblem(project); })">
                        <img src="Images/Иерархия.png" />
                        <header>
                            <h4>@project.Problem.MainGoal.Name</h4>
                            <p>Описание</p>
                        </header>
                    </a>
                </li>
            }
        </ul>

    </section>
</nav>


