@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <ProblemsMenu />
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        <StageMenu URi="@(NavigationManager.ToBaseRelativePath(NavigationManager.Uri))" />
        @Body
        <StageMenu URi="@(NavigationManager.ToBaseRelativePath(NavigationManager.Uri))" />
    </div>
</div>
