@inherits DSSProject
<h4>Пригодность отношений</h4>
<section>
    <div class="example-section">
        <div class="example-block" style=" background-color: #dfffdf"></div>
        <span class="example-description">
            - отношения заполнены и согласованы
        </span>
    </div>
    <div class="example-section">
        <div class="example-block" style=" background-color:lightyellow"></div>
        <span class="example-description">
            - отношения не заполнены
        </span>
    </div>
    <div class="example-section">
        <div class="example-block" style=" background-color: #ffdee3"></div>
        <span class="example-description">
            - отношения не согласованы
        </span>
    </div>
</section>

<dl>
    <dt>Граница согласованности</dt>
    <dd><input type="number" @bind-value="@MatrixConsistenct.BorderConsistenct" /></dd>
</dl>

@if (!Problem.CorrectnessRels.AreRelationsCorrect)
{
    <p>
        Некоторые отношения не заполнены или являются несогласованными!
    </p>
}

