
<div class="example-section">
    <div class="example-block" style="background-color: @Color; border-color: @ColorBorder"></div>
    <span class="example-description">
        - @Message
    </span>
</div>

@code {
    [Parameter]
    public string Message { get; set; }
    [Parameter]
    public string Color { get; set; }
    [Parameter]
    public string ColorBorder { get; set; } = "rgb(64, 64, 64)";
}
