<section class="hier-sheme-mini">
    @foreach (var levelGroup in Project.Grouped())
    {
        <div class="hier-sheme-level">
            @foreach (var node in levelGroup)
            {
                <div class="hier-sheme-element" />
            }
        </div>
    }

</section>

@code {
    [Parameter]
    public IProject Project { get; set; }
}
