
.sheme {
    margin: 5px;
}

.level {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px solid gainsboro;
    padding: 5px;
}

.level-name {
    text-align: center;
}

.level-index {
    font-size: 0.85em;
    color: gray;
}

.level-text {
    font-size: 0.9em;
}

.level-elements {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.node-element {
    display: block;
    padding: 3px;
    margin: 4px;
    border: 1px solid gray;
    text-align: center;
    border-radius: 1px;
    text-decoration: none;
    font-size: 0.65em;
    min-width: 50px;
    color: royalblue;
}
    .node-element:hover{
        color: blue;
        border: 1px solid royalblue;
    }

.good {
    background-color: #dfffdf;
}

.bad {
    background-color: #ffdee3;
}
.sel {
    background-color: #d1ecff;
}

.warn {
    background-color: antiquewhite;
}

.best {
    background-color: #ebe3fc;
}
