
.row-usual {
    margin-top: 10px;
}

.counts {
    flex-basis: 50%;
    font-size: 0.85em;
}

.mtx table {
    border: 1px solid gainsboro;
    border-collapse: collapse;
}

    .mtx table a {
        text-decoration: none;
    }

        .mtx table a:hover {
            text-decoration: underline;
        }

    .mtx table h4 {
        margin: 0;
    }

td {
    padding: 10px 6px;
}

.good-mtx, .bad-mtx {

}

.good-mtx {
    color: green;
}

.bad-mtx {
    color: darkred;
}

.mtx input {
    border: 0;
    width: 94%;
    text-align: center;
    border: 1px solid transparent;
    max-width: 10em;
    height: 30px;
}

    .mtx input[disabled] {
        color: gray;
    }


.cell-header {
    border-bottom: 1px solid gainsboro;
    text-align: center;
}

.cell-node {
    text-align: center;
    font-size: 0.8em;
    min-width: 4.5em;
    padding-left: 5px;
    padding-right: 5px;
}

td.cell-value {
    padding: 0;
    max-width: 10em;
}

.cell-selected input {
    border-color: gainsboro;
}

.cell-mirrored input {
    border: 1px solid green;
}

.incorrect input {
    color: red;
}

.unknown input {
    color: darkorange;
}
