.matrix {
    margin: 5px;
    width: 100%;
    border-collapse: collapse;
}

    .matrix th, .matrix td {
        padding: 8px 24px;
        border: 5px solid transparent;
        border-top: 0;
        border-bottom: 0;
    }


td.from {
}

td.to {
}

td.united {
}

td.between {
    border: 0;
}

.matrix .main-node {
    border: 0;
}

.matrix .side-node {
    border: 0;
    border-bottom: 1px solid gainsboro;
}

.main-node h3 {
    margin: 5px 0;
}

.side-node {
}

.matrix a {
    text-decoration: none;
    color: darkblue;
}

    .matrix a:hover {
        color: blue;
    }



.matrix .results-message {
    padding: 20px 0;
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid gainsboro;
    text-align: center;
}
