td {
    padding: 8px 24px;
    border-right: 1px solid gainsboro;
}
.rating {
    display: flex;
    justify-content: center;
    padding-bottom: 3px;
    border-radius: 5px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.non-selectable{
    background: whitesmoke;
}
.selectable .rating {
    color: #323232;
    border-bottom: 3px solid transparent;
}
.selectable:hover.safe .rating {
    cursor: pointer;
    border-bottom: 3px solid lightgreen;
}
    .selectable:hover.usual .rating {
        cursor: pointer;
        border-bottom: 3px solid gainsboro;
    }
    .selectable:hover.dangerous .rating {
        cursor: pointer;
        border-bottom: 3px solid darkred;
    }
.selectable:hover.unknown .rating {
    cursor: pointer;
    border-bottom: 3px solid gainsboro;
}

.selected.safe .rating {
    border-bottom: 3px solid lightgreen;
}
.selected.usual .rating {
    border-bottom: 3px solid gainsboro;
}
.selected.dangerous .rating {
    border-bottom: 3px solid red;
}
.selected.unknown .rating {
    border-bottom: 3px solid #e7de79;
}



.cr {
    min-width: 40px;
    margin-right: 4px;
    margin-left: 4px;
}

.safe {

}
    .safe .cr {
        color: #00d885;
    }

.dangerous {

}
.dangerous .cr{
    color: red;
}
