@inherits DSSComponentParamRelation
@layout EditorLayout

@if (Relations.Any(c => c.Key == Relation.Main))
{
    <section>
        <CascadingValue Value="RatingMatrix">
            <table class="matrix" @onclick="@RelationUpdated">
                <colgroup>
                    <col style="width:50%" />
                    <col style="width:50%" />
                </colgroup>
                <tbody>
                    <tr>
                        <th class="main-node" colspan="2">@Relation.Main.Name</th>
                    </tr>
                    <tr>
                        <th class="side-node from non-selectable">
                            <span>
                                @Relation.From.Name
                            </span>
                        </th>
                        <th class="side-node to non-selectable">
                            <span>
                                @Relation.To.Name
                            </span>
                        </th>
                    </tr>

                    <tr>
                        <RelationRating Node="Relation.To" Rating="RatingNone" ColSpan="2" Relation="Relation">

                        </RelationRating>
                    </tr>

                    <tr>
                        <RelationRating Node="Relation.To" Rating="RatingEqual" ColSpan="2" Relation="Relation">

                        </RelationRating>
                    </tr>
                    <tr>
                        <td style="padding:0;border-bottom: 1px solid gainsboro" colspan="2"></td>
                    </tr>
                    @foreach (var group in Ratings.Where(r => r.forRating.Value != 1))
                    {
                        <tr>
                            <RelationRating Node="Relation.From" Rating="group.forRating" ColSpan="1" Relation="Relation">

                            </RelationRating>
                            <RelationRating Node="Relation.To" Rating="group.toRating" ColSpan="1" Relation="Relation">

                            </RelationRating>
                        </tr>
                    }
                    <tr>
                        <td colspan="2" class="side-node non-selectable" style="border-top: 1px solid gainsboro; border-bottom: 1px solid gainsboro;">
                            <RelationVerdict Relation="Relation"></RelationVerdict>
                        </td>
                    </tr>
                </tbody>
            </table>
        </CascadingValue>
    </section>
}
else
{

}