@inherits DSSComponent

@page "/account"
<section>
    <h2>Сохраненные данные</h2>
    <p>
        <button class="action-button">
            Сбросить всё
        </button>
    </p>
    <section>
        <h3>Состояние</h3>
        @if (DssState != null)
        {
            <p>
                @User.State
            </p>
            @foreach (var template in DssState.OpenedTemplates)
            {
                <HierTemplate Template="template">

                </HierTemplate>
            }
            <p>
                <button class="action-button" @onclick="() => Account.LoadState()">
                    Загрузить
                </button>
                <button class="action-button" @onclick="() => Account.SaveState()">
                    Заменить текущим состоянием
                </button>
                <button class="action-button" @onclick="() => Account.RemoveState()">
                    Сбросить
                </button>
            </p>
        }
    </section>
    <section>
        <h3>Свои шаблоны</h3>
        @foreach (var template in OwnTemplates)
        {
            <HierTemplate Template="template">

            </HierTemplate>
            <div style="border-bottom: 1px solid gainsboro">
                <button class="action-button" @onclick="() => Account.RemoveTemplate(template)">
                    Удалить
                </button>
            </div>
        }
        @if (!OwnTemplates.Any())
        {
            <p>Нет сохраненных шаблонов</p>
        }
    </section>
</section>

@code {
    public User User => Account.CurrentUser;
    public DssState DssState => User.State;
    public IEnumerable<ITemplate> OwnTemplates => User.Templates;


    private void AddTemplate(ITemplate template)
    {

    }
}
