@inherits DSSComponent

@page "/account"

<style>
    .account-control p{
        font-size: 0.9em;
    }
</style>
<section class="account-control">
    <p hidden>
        <button class="action-button" @onclick="() => Account.RemoveState()">
            Сбросить всё
        </button>
    </p>
    <section>
        <h3>Активные задачи, прогресс</h3>
        @if (DssState != null)
        {
            <p>
                @User.State
            </p>
            @*@foreach (var template in DssState.OpenedTemplates)
            {
                <HierTemplate Template="template">

                </HierTemplate>
            }*@
            <div class="row">
                <button class="action-button" @onclick="() => Account.LoadState()">
                    Загрузить
                </button>
                <button class="action-button" @onclick="() => Account.SaveState()">
                    Заменить текущим состоянием
                </button>
                <button class="action-button" @onclick="() => Account.RemoveState()">
                    Сбросить
                </button>
            </div>
        }
    </section>
    <section>
        <h3>Свои шаблоны</h3>
        @foreach (var template in OwnTemplates)
        {
            <div style="display: flex; justify-content: space-between">

                <HierTemplate Template="template">

                </HierTemplate>
                <button style="border-bottom: 1px solid gainsboro; margin: 0; padding: 5px;" class="action-button" @onclick="() => Account.RemoveTemplate(template)">
                    Удалить
                </button>
            </div>
        }
        @if (!OwnTemplates.Any())
        {
            <p>Нет сохраненных шаблонов</p>
        }
    </section>
</section>

@code {
    public User User => Account.CurrentUser;
    public DssState DssState => User.State;
    public IEnumerable<ITemplate> OwnTemplates => User.Templates;


    private void AddTemplate(ITemplate template)
    {

    }
}
