@page "/example"
<style>
    article{
        max-width: 750px;
        font-size: 0.9em;
    }
    article p{
        line-height: 1.4;
    }
    article li{
        line-height: 1.4;
    }
    article h4{
        font-weight: normal;
        font-size: 1.1em;
    }
    article a{
        color: royalblue;
        text-decoration: none;
    }
        article table {
            width: 30%;
            float: right;
            border: 1px solid gainsboro;
            margin: 4px;
        }

        article h3, article h4{
            border-bottom: 1px solid gainsboro;
            padding-bottom: 2px;
        }
</style>
<article>
    <h2>Подробности работы</h2>
    <p>
        <a href="info">Общее описание находится здесь.</a>
    </p>
    <p>
        Однако почти каждую функцию системы можно дополнить подробностями.
    </p>
    <p>
        Кроме того, тут подробнее описано примение алгоритма метода анализа иерархий внутри системы, расчете весовых коэффициентов
        для элементов иерархии, показателе согласованности и прочих скрытых вещах.
    </p>
    <p>
        В качестве примера будет использоваться этакая усредненная 3-х уровневая иерархия со следующими узлами
    </p>
    <ol>
        <li>Цель</li>
        <li>К1, К2</li>
        <li>А1, A2, A3</li>
    </ol>
    <section>
        <h3>Разделение и редактирование иерархий</h3>
        <p>
            У любой задачи есть разделение на две иерархии:
        </p>
        <ul>
            <li><b>Редактируемая</b> - определяет структуру. Позволяет менять положение, наличие, принадлежность узлов к группам.</li>
            <li><b>Утвержденная</b> - определяет отношения. Позволяет менять имена узлов, описание, иконку. На её основе создаются отношения.</li>
        </ul>
        <p>
            Утвержденная иерархия создается только в момент сохранения редактируемой.<br />
            Изменения редактируемой иерархии не влияют на утвержденную до нового сохранения.<br />
            Изменения утвержденной иерархии вообще никак не влияют на редактируемую.<br />
        </p>
    </section>
    <section>
        <h3>Сложные иерархии</h3>
        <p>
            Каждый элемент (или <i>узел</i>) иерархии имеет 3 свойства:
        </p>
        <ul>
            <li>Уровень в иерархии -  положение узла в визуальной и логической структуре. Отчитывается с нуля.</li>
            <li>Указатель <strong>группы элементов</strong> - показывает принадлежность к группе критериев.</li>
            <li>Указатель <strong>группы критериев</strong> - показывает группу критериев, которой подчинен данный узел.</li>
        </ul>
        <img src="Images/AdvSheme.svg" style="width:50%; float: right; margin: 5px" />
        <p>
            Для обычной иерархии стоит учитывать лишь уровень в иерархии.
            Однако для создания более сложной схемы с подчиненными узлами необходимо использовать и остальные свойства.
        </p>
        <p>
            Допустим, в иерархии-примере нужно разделить критерий К2 на два подкритерия К2-1 и К2-2.
            В результате альтернативы должны зависеть от К1, К2-1 и К2-2 вместо К1 и К2,
            при этом К2 при этом должен остаться на своём месте и оказывать своё влияние на нижестоящие узлы.<br />
            Для этого необходимо:
        </p>
        <ol>
            <li>К2 - указать новую группу элементов</li>
            <li>Добавить узлы К2-1 и К2-2, состоящие в <i>группе К1</i>, но зависящие от новой группы К2</li>
        </ol>
        <p>
            А вообще в общих шаблонах есть пример такой сложной иерархии, на вкладке
            "подробная структура" всё станет куда понятнее.
        </p>
    </section>
    <section>
        <h3>Отношения</h3>
        <table>
            <caption><i>Пример матрицы</i></caption>
            <tr>
                <td>К1</td>
                <td>А1</td>
                <td>А2</td>
                <td>А3</td>
            </tr>
            <tr>
                <td>А1</td>
                <td>1</td>
                <td>2</td>
                <td>4</td>
            </tr>
            <tr>
                <td>А2</td>
                <td>0.5</td>
                <td>1</td>
                <td>8</td>
            </tr>
            <tr>
                <td>А3</td>
                <td>0.25</td>
                <td>0.125</td>
                <td>1</td>
            </tr>
        </table>
        <p>
            Для сравнения узлов по каждому критерию формируются <strong>обратно-симметричные</strong> матрицы.
            Для иерархии-примера будут сделаны следующие матрицы сравнения:
        </p>
        <ul>
            <li>Критериев К1 и К2 по цели</li>
            <li>Альтернатив А1, А2, А3 по критерию К1</li>
            <li>Альтернатив А1, А2, А3 по критерию К2</li>
        </ul>
        <p>
            В случае модифицированной иерархии:
        </p>
        <ul>
            <li>Критериии К1 и К2 по цели</li>
            <li>Под-критериии К2-1 и К2-2 по критерию К2</li>
            <li>Альтернативы А1, А2, А3 по критерию К1</li>
            <li>Альтернативы А1, А2, А3 по под-критерию К2-1</li>
            <li>Альтернативы А1, А2, А3 по под-критерию К2-2</li>
        </ul>
        <p>
            Строго говоря, в приложении на самом деле создаются не матрицы, но списки отношений между узлами.
            Которые уже с помощью группировки переводятся в матричный вид. Только тссс...
        </p>
        <section>
            <h4>Выставление оценок</h4>
            <p>
                Согласно методу анализа иерархий, для оценки каждого отношения используются
                числа от 1 до 9. В приложении также есть значение 0, указывающие на неизвестное отношение.
                Оценки в числовом виде используются только в матрице, при сравнении они переводятся в
                <i>словесные оценки</i>, где 1 обозначает равный приоритет элемента, а 9 - абсолютный приоритет.
            </p>
            <p>
                Автор МАИ рекомендует использовать 5 градаций оценок (1 3 5 7 9 по умолчанию), однако <i>количество градаций</i> можно изменить
                в настройках. Сделать это можно для повышения точности сравнения.
            </p>
        </section>
        <section>
            <h4>Алгоритм расчета</h4>
            <section>
                <h5>Согласованность</h5>
                <p>
                    Каждая матрица сравнения должна пройти проверку на согласованность перед использованием.
                    Для этого показатель <b>отношения согласованности (Cr)</b> у матрицы должен находиться в промежутке от 0 до 0.15-0.2.
                    <br />
                    Есть несколько вариантов рассчитать этот показатель, например:
                </p>
                <ol>
                    <li>Находится показатель nmax (<i>максимальное собственное число матрицы</i>) по приближенной формуле;</li>
                    <li>Находится <i>индекс согласованности</i> Ci;</li>
                    <li>По таблице находится <i>стохастический индекс</i> Ri для матрицы данной размерности;</li>
                    <li><i>Отношение согласованности</i> Cr это, как ни странно, отношение индекса согласованности и стохастического индекса, Ci / Ri.</li>
                </ol>
                <p>
                    Также любая матрица с <i>хоть одним неизвестным отношением</i> считается согласованной, пусть даже по расчетам это и не так.
                </p>
            </section>
            <section>
                <h5>Коэффициенты</h5>
                <p>
                    Вычисление весовых коэффициентов начинается с вершины иерархии и происходит следующим образом:
                </p>
                <ol>
                    <li>
                        Для каждого уровня иерархии:
                        <ol>
                            <li>Находится <i>вектор локальных приоритетов</i> для каждой матрицы;</li>
                            <li>Составляется <i>матрица локальных коэффициентов</i> из векторов локальных приоритетов;</li>
                            <li>Считается <i>вектор глобальных приоритетов</i> уровня: матрица локальных коэффициентов умножается на вектор глобальных приоритетов вышестоящего уровня;</li>
                            <li>Значения вектора глобальных приоритетов соотносятся с узлами на текущем уровне. Это и есть искомые приоритеты.</li>
                        </ol>
                    </li>
                    <li>???</li>
                    <li>Готово!</li>
                </ol>
            </section>
            <p>
                <a href="http://rosculturexpertiza.ru/files/valuation/saati.pdf">Еще подробнее про расчеты</a>
            </p>
        </section>
    </section>
    <section>
        <h3>Сохранение</h3>
        <p>
            Локальное, в пределах одного адреса и браузера.
        </p>
        <ul>
            <li>
                Любую задачу с утвержденной иерархии можно сохранить как шаблон, который можно впоследствии загрузить.
                При этом сохраняется не только иерархия, но и её установленные отношения.
            </li>
            <li>
                Все открытые задачи с утвержденной иерархией можно сохранить как текущее состояние или <strong>прогресс</strong>. Они будут автоматически
                загружаться при повторном открытии вкладки.
            </li>
            <li>
                При совсем-совсем желании сохранить иерархию можно скопировать JSON в локальный файл на компьютере.
                Пока вот так.
            </li>
        </ul>
    </section>
</article>


@code {

}
