@page "/example"
<style>
    p{
        line-height: 1.4;
    }
    li{
        line-height: 1.4;
    }
    h4{
        font-weight: normal;
        font-size: 1.1em;
    }
</style>
<article style="font-size: 0.9em">
    <h2>Подробности работы</h2>
    <p>
        Общий принцип работы приложения описан в <a href="info">тут</a>, однако почти каждую функцию системы
        можно дополнить подробностями и описанием дополнительных возможностей.
    </p>
    <p>
        Кроме того, здесь можно узнать о примении алгоритма метода анализа иерархий внутри системы, расчете весовых коэффициентов
        для элементов иерархии, показателе согласованности и прочих скрытых вещах.
    </p>
    <section>
        <h3>Иерархия</h3>
        <p>
            Каждый элемент (или <i>узел</i>) иерархии имеет 3 свойства:
        </p>
        <ul>
            <li>Уровень в иерархии -  положение узла в визуальной и логической структуре.</li>
            <li>Указатель группы элементов - показывает принадлежность к группе критериев</li>
            <li>Указатель группы критериев - показывает группу критериев, которой подчинен данный узел</li>
        </ul>
        <p>
            Так, для обычной иерархии стоит иметь ввиду лишь уровень в иерархии.
            Однако для создания более сложной схемы с подчиненными критериями необходимо использовать и остальные свойства.
        </p>

        <section>
            <h5>Редактирование</h5>
            <p>
                Редактируемая и активная. Описание, изображение
            </p>
        </section>
    </section>
    <section>
        <h3>Отношения</h3>
        <p>
            Из иерархии формируются матрицы, по матрицам рассчитываются коэффициенты
        </p>
        <section>
            <h4>Алгоритм расчета</h4>
            <p>
                Как рассчитываются коэффициенты, отношение согласованности
            </p>
        </section>
        <section>
            <h4>Выставление оценок и система рейтинга</h4>
            <p>
                Система рейтинга с от 1 до 9, настройки этой системы
            </p>
        </section>
    </section>
    <section>
        <h3>Дополнительные возможности</h3>
        <p>
            Сохранение задачи как шаблона, использование JSON, сохранение как прогресса
        </p>
    </section>
</article>


@code {

}
