@page "/"
@page "/home"

<div class="main-grid">
    <a class="about-area" href="info">
        <img src="Images/Знак.png" />
        <h2>О приложении</h2>
        <p>
            Общая идея и краткая инструкция по использованию.
        </p>
    </a>

    <a class="problem-area" href="start">
        <section class="process">
            <img class="process-img" src="Images/layers.svg" />
            <img class="process-img" src="Images/share-2.svg" />
            <img class="process-img" src="Images/list.svg" />
        </section>
        <h2>Поддержка принятия решений</h2>
        <p>
            Основное направление приложения - решение задач выбора.
        </p>
        <p>
            Когда необходимо решить, что же выбрать, как поступить, какой вариант принять.
        </p>
    </a>

    <a class="info-area" href="example">
        <img src="Images/Проект.jpg" />
        <h2>О методе</h2>
        <p>
            Подробно о системе и используемом методе анализа иерархий, алгоритме расчета.
        </p>
    </a>
</div>

    @code {

    }
