@page "/"
@page "/home"

<div class="main-grid">
    <a class="about-area" href="info">
        <img src="Images/Знак.png" />
        <h2>О системе</h2>
        <p>
            Подробно о назначении системе, её разработке и авторах.
        </p>
    </a>

    <a class="problem-area" href="start">
        <section class="process">
            <img class="process-img" src="Images/Иерархия.png" />
            <img class="process-img" src="Images/Отношения.png" />
            <img class="process-img" src="Images/Результаты.png" />
        </section>
        <h2>Поддержка принятия решений</h2>
        <p>
            Основная функция системы - решение задач выбора.
        </p>
    </a>

    <a class="info-area" href="info">
        <img src="Images/Проект.jpg" />
        <h2>О методе</h2>
        <p>
            Подробно о методе анализа иерархий, который используется в системе.
        </p>
    </a>
</div>

    @code {

    }
