.main-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "about problem info";
}

    .main-grid a {
        color: black;
    }

.about-area {
    grid-area: about;
    text-decoration: none;
    color: black;
    padding: 5px;
}

.problem-area {
    grid-area: problem;
    border-right: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    text-decoration: none;
    color: black;
    padding: 5px;
    min-height: 20em;
}

.info-area {
    grid-area: info;
    text-decoration: none;
    color: black;
    padding: 5px;
}

.about-area, .problem-area, .info-area {
    text-align: center;
    border-bottom: 1px solid gainsboro;
}

    .about-area img, .problem-area img, .info-area img {
        height: 100px;
        margin: auto;
    }

    .about-area p, .problem-area p, .info-area p {
        color: rgb(70, 70, 70);
    }

    .about-area:hover, .problem-area:hover, .info-area:hover {
        cursor: pointer;
        background-color: whitesmoke;
    }

.pr-arrow {
    content: "->";
    margin: 0 1em;
}

.process {
    display: flex;
    align-items: center;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5em;
}

.process-img {
    height: 50px;
}
