
.info{
    max-width: 750px;
    font-size: 0.9em;
}

.info h2, .info h4 {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 2px;
}
.info a{
    color: royalblue;
    text-decoration: none;
}
.info a:hover{
    color: blue;
}
.info p {
    line-height: 1.4;
}

.info li {
    line-height: 1.4;
}

.info h4 {
    font-weight: normal;
    font-size: 1.1em;
}


main p{
    line-height: 140%;
}

    main img {
        padding: 8px;
        max-width: 75%;
    }

img.right {
    float: right;
    width: 45%;
}

.filled, .constistent {
    padding-left: 5px;
}

.filled {
    border-left: 8px solid #b3c108;
}

.constistent {
    border-left: 8px solid red;
}
