@page "/info"

<section class="info">
    <img src="Images/ВариантыВыбораДо.png" title="Задача выбора" />
    <h2>О системе</h2>
    <p>
        Если так подумать, то вся жизнь - принятие череды решений. Разумеется, из нескольких вариантов решения следует выбирать
        наилучший из возможных или хотя бы кажущийся таковым. Однако выявить такой вариант может быть непросто.
    </p>
    <p>
        В таком случае могут помочь методы теории принятия решений, например, <strong>метод анализа иерархий</strong> (МАИ). Для его применения необходимо
        подать информацию о решаемой проблеме и доступных альтернативах в структурированном виде. 
        Применять метод не то чтобы сложно, но вручную достаточно нудно, да и необходимо разбираться в
        принципах его работы.
    </p>
    <p>
        Впрочем, можно его применение упростить, спрятав всю сложную подоплеку с глаз долой.
        И вот удача! Именно это приложение и делает - упрощает применение МАИ для решения нескольких задач выбора.
    </p>

    <section>
        <h3>Принятие решения</h3>
        <section>
            <h4>1. Создание задачи выбора</h4>
            <p>
                Для каждой проблемы выбора необходимо <a href="start">задать иерархию</a>. <i>Примеры</i> или <i>шаблоны</i> предоставляют некоторую иерархию по умолчанию,
                которая может подойти для нескольких распространеннных задач. В итоге создать задачу можно следующими путями:
            </p>
            <ol>
                <li>Сформировать её полностью с нуля</li>
                <li>Создать на основе шаблона: своего или общего</li>
            </ol>
            <p>
                Кроме того, все решаемые задачи можно сохранить и восстановить прогресс их решения при последующих запусках.
            </p>
        </section>
        <section>
            <h4>2. Формирование иерархии</h4>
            <p>
                Для создания иерархии необходимо описать проблему более подробно.
                Задача выбора делится на составляющие части, которые распределяются по следующим правилам:
            </p>
            <img class="right" src="Images/ИерархияБольшая.png" title="Иерархия проблемы" />
            <ul>
                <li>
                    <p>
                        <strong>Цель</strong> / <strong>название проблемы</strong> - всегда на самом верху.
                        Может быть только одна.
                    </p>
                </li>
                <li>
                    <p>
                        Возможные <strong>варианты действий</strong> или <strong>альтернативы</strong> - всегда в самом низу.
                        Не менее двух, иначе выбирать окажется не из чего.
                    </p>
                </li>
                <li>
                    <p>
                        Всё что между ними - <strong>критерии</strong>, по которым определяется привлекательность альтернатив.
                        Один критерий не имеет смысла (его вполне может заменить и цель), так что их должно быть минимум два.
                    </p>
                </li>
            </ul>

        </section>

        <section>
            <h4>3. Определение связей</h4>
            <p>
                Именно на этом этапе и выявляется оптимальный вариант решения. На основе иерархии создаются отношения,
                которые необходимо заполнить и согласовать для выявления наилучшего варианта.
            </p>
            <p>
                Заполняются отношения весьма просто - последовательным сравнением элементов задачи друг с другом.
                В каждом сравнении есть только один <i>главный критерий</i>  по которому идет оценка элементов - остальные
                критерии не учитываются.
            </p>
            <p>
                Стоит учитывать, что простое редактирование обозначений элементов не меняет созданные отношения, тогда
                как изменение её структуры полностью сбрасывает указанные связи.
            </p>
            <section>
                <h5>Рассогласованность</h5>
                <p>
                    В процессе выставления приоритетов может возникнуть <i>рассогласованность</i> оценок.
                    Она обозначает, что в сравнение вкралась логическая ошибка, ведь если А > Б, а Б > С по конкретному критерию, то С > A быть не может.
                </p>
                <p>
                    Для исправления необходимо скорректировать выставленные приоритеты таким образом, чтобы показатель согласованности находился в пределах от 0 до 0.2
                    (он отмечен справа от любого приоритета).
                </p>
            </section>
        </section>

        <section>
            <h4>4. Анализ результатов</h4>
            <p>
                Результаты представляют собой итоговый приоритет для каждой альтернативы и критерия. Вариант с <i>наибольшим коэффициентом</i> и является
                оптимальным выбором среди конкурентов.
            </p>
            <img src="Images/ВариантыВыбора.png" title="Варианты выбора после" />
            <p>
                Ну что, <a href="start">создать задачу?</a> Или вернуться <a href="hierarchy">к редактированию уже созданной</a>.
            </p>
        </section>
    </section>
</section>
