.load-task-grid {
    display: flex;
    width: 1000px;
}

    .load-task-grid h3 {
        border-bottom: 1px solid gainsboro;
        padding-bottom: 4px;
    }
    .presets-section{
        grid-area: presets;
    }

.load-header {
    grid-area: header;
    border-bottom: 1px solid gainsboro;
}


.tab-presets {
    flex: 7;
    padding: 5px;
}
.tab-section{
    display: flex;
}
.load-own {
    flex: 1;
    padding: 0 5px;
}
.saved-session {
    flex: 1;
    padding: 0 5px;
}




    .load-own input[type="button"], .load-sample input[type="button"] {
        width: 90%;
        margin: 5px;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid gray;
        padding: 8px;
    }

        .load-own input[type="button"]:hover,
        .load-sample input[type="button"]:hover {
            background-color: lightgreen;
        }


.presets, .problems {
    list-style: none;
    padding: 0;
}
.presets {
    display: flex;
    flex-wrap: wrap;
}
.presets li{
    width: 20em;
    margin: 2px;
}

    .presets a, .problems a {
        text-decoration: none;
        color: black;
    }


.problem-img {
    grid-area: img;
    margin-right: 1em;
    vertical-align: middle;
}

.loaded {
    flex: 3;
    grid-area: loaded;
    padding: 5px;
    border-right: 1px solid gainsboro;

    display: flex;
    flex-direction: column;
}

.problems {
    list-style: none;
    padding: 0;
}

.problem {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 2fr 8fr;
    padding: 5px 0;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    grid-template-areas:
        "img name"
        "img status";
}


.load-note {
    color: gray;
    font-size: 0.9em;
}

.load-json {
    width: 90%;
}
