@page "/start"
@inherits DSSComponent

@using DSSAlternative.Services;


<div class="load-task-grid">
    <section class="loaded">
        <h3>Открытые задачи</h3>
        <button class="action-button" @onclick="LoadOwn">
            <img src="Images/plus-square.svg" />
            <span>Создать новую</span>
        </button>
        <ul class="problems">

            @foreach (IProject project in Projects)
            {
            <li>
                <ProjectTask Project="project" Removed="() => StateHasChanged()">

                </ProjectTask>
            </li>
            }
        </ul>
    </section>

    <div class="tab-presets">
        <h3>Создание новой задачи</h3>
        <Tab>
            <TabItem>
                <Title><h4 class="tab-header">Общие шаблоны</h4></Title>
                <ChildContent>
                    <div class="tab-section">
                        <section class="load-preset saved-session">
                            <p class="load-note">
                                Позволяет задать типовую задачу, которую можно изменить под свои условия.
                            </p>
                            <ul class="presets">
                                <CascadingValue Value="this">
                                    @foreach (var template in Templates)
                                    {
                                        <li>
                                            <HierTemplate Template="template"></HierTemplate>
                                        </li>
                                    }
                                </CascadingValue>
                            </ul>
                        </section>
                    </div>
                </ChildContent>
            </TabItem>
            <TabItem>
                <Title><h4 class="tab-header">Сохраненные задачи</h4></Title>
                <ChildContent>
                    <div class="tab-section">
                        <div class="load-own">
                            <section>
                                <p class="load-note">
                                    Создать задачу по пользовательскому шаблону
                                </p>
                                <ul class="presets">
                                    <CascadingValue Value="this">
                                        @foreach (var template in Account.CurrentUser.Templates)
                                        {
                                            <li>
                                                <HierTemplate Template="template"></HierTemplate>
                                            </li>
                                        }
                                    </CascadingValue>
                                </ul>
                                <div>
                                    @if (!Account.CurrentUser.Templates.Any())
                                    {
                                        <p class="load-note">
                                            Правда, сохраненных шаблонов нет на данный момент нет.
                                        </p>
                                        <section hidden>
                                            <p class="load-note">
                                                <button class="action-button" @onclick="async () => LoadJSON(new ChangeEventArgs() { Value = await Clipboard.ReadTextAsync() })">
                                                    Вставить из буфера обмена
                                                </button>
                                                <br />
                                                <span>@JSONLoadResult</span>
                                            </p>
                                            <textarea class="load-json" rows="5" @onchange="LoadJSON"></textarea>
                                        </section>
                                    }
                                </div>
                            </section>

                        </div>
                    </div>
                </ChildContent>
            </TabItem>
            <TabItem>
                <Title><h4 class="tab-header">Активные задачи</h4></Title>
                <ChildContent>
                    <div class="tab-section">
                        <section class="saved-session">
                            <p class="load-note">
                                Загрузить сохраненный прогресс решения задач
                            </p>

                            @if (Account.CurrentUser.State != null)
                            {
                                <ul class="presets">
                                    <CascadingValue Value="this">
                                        @foreach (var template in Account.CurrentUser.State.OpenedTemplates)
                                        {
                                            <li>
                                                <HierTemplate Template="template"></HierTemplate>
                                            </li>
                                        }
                                    </CascadingValue>
                                </ul>
                            }
                            @if (Account.CurrentUser.State.OpenedTemplates.Any())
                            {
                                <button class="action-button" @onclick="() => { Account.LoadState(); StateHasChanged(); }">
                                    Восстановить все (текущие задачи будут сброшены)
                                </button>
                            }
                        </section>
                    </div>
                </ChildContent>
            </TabItem>
        </Tab>

    </div>
</div>



@code {
    [Inject]
    public IClipboard Clipboard { get; set; }
    [Inject]
    public IDssTemplates TemplatesEditor { get; set; }


    public IEnumerable<ITemplate> Templates => TemplatesEditor.Templates;

    private void LoadOwn()
    {
        Dss.AddProject();
    }
    public void LoadTemplate(ITemplate template)
    {
        Dss.AddProject(template);
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Dss.OnStateLoaded += StateHasChanged;
        Dss.OnProjectAdded += StateHasChanged;
        TemplatesEditor.OnTemplatesLoaded += StateHasChanged;
    }


    private string JSONLoadResult { get; set; } = "Вставка JSON-текста";
    private void LoadJSON(ChangeEventArgs e)
    {
        string json = e.Value.ToString();
        try
        {
            ITemplate obj = JsonSerializer.Deserialize<Template>(json);
            Dss.AddProject(obj);
            JSONLoadResult = "Проблема успешно загружена";
        }
        catch (JsonException ex)
        {
            JSONLoadResult = "Неверный формат данных, попробуйте ещё раз";
            Console.WriteLine(ex.Message);
        }
    }
}
