@page "/updates"

<section>
    <h2>Обновления и планы</h2>
    <p>
        Простор для улучшения есть всегда. Что-то добавить, что-то исправить, ну а что-то переделать.
        В процессе разработки появляется множество идей, вот некоторые из них.
    </p>
    <table>
        <colgroup>
            <col style="width:50%" />
            <col style="width:50%" />
        </colgroup>
        <tr>
            <th>Добавить</th>
            <th>Изменить</th>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>+ Дизайн экрана загрузки</li>
                    <li>+/ Дизайн страницы обновлений (этой страницы, о как)</li>
                    <li>Серверную часть Web Api, использование аккаунтов и хранение общих шаблонов</li>
                    <li>
                        <b>Аккаунты:</b>
                        <ul>
                            <li>Возможность регистрации и авторизации</li>
                            <li>Возможность сохранить а) шаблон задач б) текущие открытые задачи</li>
                            <li>Возможность загружать потом свой шаблон выбора и восстанавливать открытые задачи</li>
                        </ul>
                    </li>
                    <li>Вынести сложный код из компонентов в отдельные cs файлы</li>
                    <li>+/ Больше компонентов везде и всюду</li>
                    <li>Разделить пространство имен AHP на логику (алгоритм МАИ) и приложение (компоненты и APP)</li>
                    <li>+/ Выделение в компонентах наиболее частых длинных свойств для делегирования</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>+ Фавикон</li>
                    <li>/ Вкладка настроек и старого обзора ???</li>
                    <li>+? Внедрение зависимостей вместо статических классов</li>
                    <li>+? Общий рефакторинг и вынос всякого</li>
                    <li>+/ Код проверок на ошибки</li>
                    <li>+/ Убрать неиспользуемые стили</li>
                    <li>+/ Убрать из кода IStyled, все стили вынести в компоненты</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th colspan="2">Отдаленное будущее</th>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <li>Редактирование групп отношений, уровней</li>
                    <li>Внедрить пары отношений</li>
                    <li>Страница примера формирования иерархии</li>
                    <li>SVG визуальный редактор подкритериев</li>
                    <li>Сохранение в файл? алгоритма расчета</li>
                </ul>
            </td>
        </tr>
    </table>
</section>