@page "/updates"

<section>
    <h2>Обновления и планы</h2>
    <p>
        Простор для улучшения есть всегда. Что-то добавить, что-то исправить, ну а что-то переделать.
        В процессе разработки появляется множество идей, вот некоторые из них.
    </p>
    <table>
        <colgroup>
            <col style="width:50%" />
            <col style="width:50%" />
        </colgroup>
        <tr>
            <th>Добавить</th>
            <th>Изменить</th>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>Серверную часть Web Api, использование аккаунтов и хранение общих шаблонов</li>
                    <li>Сделать выбор сохранения в коде между localStorage и Web Api, при этом всё с общим интерфейсом</li>
                    <li>
                        <b>/ Аккаунты:</b>
                        <ul>
                            <li>/ Возможность регистрации и авторизации</li>
                            <li>/ Возможность сохранить а) шаблон задач б) текущие открытые задачи</li>
                            <li>/ Возможность загружать потом свой шаблон выбора и восстанавливать открытые задачи</li>
                        </ul>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>+ Загрузка задачи в виде вставляемой JSON должна замениться на нормальный выбор из загрузок</li>
                    <li>+/ Дизайн новых кнопок: скопировать схему, сохранить состояние, загрузить, скопировать / вставить</li>
                    <li>/ Дизайн аккаунтов, их страницы, восстановления сессии и сохранения иерархии</li>
                    <li>+ Передизайнить вывод ошибок в редактируемой иерархии</li>
                    <li>+ Подобрать подходящее место в коде для CSS-системы рейтинга</li>
                    <li>+ Использовать новый CssCheck в компонентах</li>
                    <li>? Что-то сделать с вкладкой настроек и старого обзора</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th colspan="2">Отдаленное будущее</th>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <li>CSS-БЭМ</li>
                    <li>Редактирование групп отношений, уровней</li>
                    <li>Внедрить пары отношений</li>
                    <li>Страница примера формирования иерархии</li>
                    <li>SVG визуальный редактор подкритериев</li>
                    <li>Сохранение в файл? алгоритма расчета</li>
                </ul>
            </td>
        </tr>
    </table>
</section>