@page "/updates"

<section>
    <h2>Обновления</h2>
    <p>
        Добавить:
    </p>
    <ul>
        <li>/ Вынести настройки в отдельную вкладку</li>
        <li>Фавикон</li>
        <li>Десигн экрана загрузки</li>
        <li>/ Дизайн страницы обновлений</li>
        <li>Серверную часть Web Api, использование аккаунтов и хранение общих шаблонов</li>
        <li>
            <b>Аккаунты:</b>
            <ul>
                <li>Возможность регистрации и авторизации</li>
                <li>Возможность сохранить а) шаблон задач б) текущие открытые задачи</li>
                <li>Возможность загружать потом свой шаблон выбора и восстанавливать открытые задачи</li>
            </ul>
        </li>
        <li>+ В редактировании узлов сделать список отношений куском из навигации по отношениям</li>
        <li>+/ Больше компонентов везде и всюду</li>
    </ul>
    <section>
        <h3>Проблемы</h3>
        <p>
            Пофиксить:
        </p>
        <ul>
            <li>+? Внедрение зависимостей вместо статических классов</li>
            <li>+ Убрать разделение по папкам в компонентах страниц</li>
            <li>+ Глючит переключение отношений при переключении задач</li>
            <li>+ Вынести стили в подфайлы</li>
            <li>+/ Убрать неиспользуемые стили</li>
            <li>+ Проверка на присутствие изменений не реагирует на изменение свойств (только на добавление новых)</li>
            <li>/ Выделение в компонентах наиболее частых длинных свойств для делегирования</li>
            <li>Общий рефакторинг и вынос всякого</li>
            <li>Убрать из кода IStyled, все стили вынести в компоненты</li>
        </ul>
    </section>
    <section>
        <h3>
            В будущем
        </h3>
        <p>
            Весьма отдаленном
        </p>
        <ul>
            <li>Редактирование групп отношений</li>
            <li>Внедрить пары отношений вместо отношений</li>
            <li>Страница примера формирования иерархии</li>
            <li>SVG визуальный редактор подкритериев</li>
            <li>Сохранение в файл? алгоритм расчета</li>
        </ul>
    </section>
</section>