@page "/updates"

<section>
    <h2>Обновления и планы</h2>
    <p>
        Простор для улучшения есть всегда. Что-то добавить, что-то исправить, ну а что-то переделать.
        В процессе разработки появляется множество идей, вот некоторые из них.
    </p>
    <table>
        <colgroup>
            <col style="width:50%" />
            <col style="width:50%" />
        </colgroup>
        <tr>
            <th>Добавить</th>
            <th>Изменить</th>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>+ Сохранение своих шаблонов задач и восстановление сессии через localStorage</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>+ Редизайн стартового выбора задачи (две вкладок - предлагаемые системой и пользовательские)</li>
                    <li>+/ Дизайн новых кнопок: скопировать схему, сохранить состояние, загрузить, скопировать / вставить</li>
                    <li>+? Дизайн аккаунтов, их страницы, восстановления сессии и сохранения иерархии</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th colspan="2">Отдаленное будущее</th>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <li>Серверная часть Web Api, регистрация, аккаунты</li>
                    <li>CSS-БЭМ</li>
                    <li>Редактирование групп отношений, уровней</li>
                    <li>Внедрить пары отношений</li>
                    <li>Страница примера формирования иерархии</li>
                    <li>SVG визуальный редактор подкритериев</li>
                    <li>Сохранение в файл? алгоритма расчета</li>
                </ul>
            </td>
        </tr>
    </table>
</section>