@page "/updates"

<section>
    <h2>Обновления</h2>
    <ul>
        <li>...</li>
    </ul>
    <section>
        <h3>Проблемы</h3>
        <ul>
            <li>
                Пофиксить:
                <ul>
                    <li>Возможно, разбить по пространствам имен</li>
                    <li>Убрать разделение по папкам в компонентах страниц</li>
                    <li>Вынести стили в подфайлы</li>
                    <li>+? Внедрение зависимостей вместо статических классов</li>
                    <li>Проверка на присутствие изменений не реагирует на изменение свойств (только на добавление новых)</li>
                    <li>+ Плохо работающий рейтинг выставления и матрицы согласованных / несогласованных оценок</li>
                    <li>+ Система оценок работает не до конца</li>
                    <li>+ Изменение значения отношения через матрицу не меняет рейтинг</li>
                    <li>/ Выделение в компонентах наиболее частых длинных свойств для делегирования</li>
                    <li>Бардак со стилями</li>
                    <li>Общий рефакторинг и вынос всякого</li>
                    <li>Убрать из кода IStyled, все стили вынести в компоненты</li>
                </ul>
            </li>
            <li>
                Добавить:
                <ul>
                    <li>+ Переделать обзорную схему в состояние отношений, показывает недочеты по отношениям</li>
                    <li>/ Вынести настройки в отдельную вкладку</li>
                    <li>+ Десигн таблицы многоуровневых проблем</li>
                    <li>Десигн экрана загрузки</li>
                    <li>Дизайн страницы обновлений</li>
                    <li>+ Десигн системы рейтинга</li>
                    <li>+? Внедрение вкладок</li>
                    <li>Серверную часть Web Api, использование аккаунтов и хранение общих шаблонов</li>
                    <li>
                        <b>Аккаунты:</b>
                        <ul>
                            <li>Возможность регистрации и авторизации</li>
                            <li>Возможность сохранить а) шаблон задач б) текущие открытые задачи</li>
                            <li>Возможность загружать потом свой шаблон выбора и восстанавливать открытые задачи</li>
                        </ul>
                    </li>
                    <li>В редактировании узлов сделать список отношений куском из навигации по отношениям</li>
                    <li>Внедрить пары отношений вместо отношений</li>
                    <li>Больше компонентов везде и всюду</li>
                    <li>SVG визуальный редактор подкритериев</li>
                    <li>Сохранение в файл? алгоритм расчета</li>
                </ul>
            </li>
        </ul>
    </section>
</section>



@code {

}
