@page "/hierarchy"
@inherits DSSComponent
@layout EditorLayout

<section>
    <CascadingValue Name="Project" Value="@ProjectsCollection.SelectedProject">
        <div class="sheme basic-border">
            <HierarchyEditOverallComponent></HierarchyEditOverallComponent>
        </div>
    </CascadingValue>
</section>


@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        ProjectsCollection.OnSelectedProjectChanged += project => StateHasChanged();
    }
}
