@page "/relations"
@inherits DSSComponentProject
@layout EditorLayout

@if (Project.IsActiveHierCreated && !Project.IsEmptyProject)
{
    <CascadingValue Name="Project" Value="Project">
        <RelationsStatusComponent></RelationsStatusComponent>
        <Tab>
            <TabItem>
                <Title>
                    <h3 class="tab-header">Выбор приоритета</h3>
                </Title>
                <ChildContent>
                    <div class="relations-grid">
                        <section class="criterias">
                            <CriteriasRelationsListComponent ShowNodeCompares="true"></CriteriasRelationsListComponent>
                        </section>
                        <section class="relation-area">
                            <RelationRatingsTableComponent></RelationRatingsTableComponent>

                            <SeparatorComponent MarginTop="12" MarginBottom="12" BorderColor="gainsboro" BorderThickness="0"></SeparatorComponent>

                            <ProgressBarComponent ValueInfo="Relations.CountFilled()" TextPercentage="Заполненность отношений:" ColorFill="@Relations.CssColor()"></ProgressBarComponent>

                            @*<RelationsNavigationComponent></RelationsNavigationComponent>*@
                        </section>
                    </div>
                </ChildContent>
            </TabItem>
            <TabItem>
                <Title>
                    <h3 class="tab-header">Матрица отношений</h3>
                </Title>
                <ChildContent>
                    <div class="relations-grid">
                        <section class="criterias">
                            <CriteriasRelationsListComponent ShowNodeCompares="false"></CriteriasRelationsListComponent>
                        </section>
                        <section class="relation-area">

                            @*<RelationsNavigationComponent></RelationsNavigationComponent>*@

                            <ProgressBarComponent ValueInfo="Relations.CountFilled()" TextPercentage="Заполненность отношений:" ColorFill="@Relations.CssColor()"></ProgressBarComponent>

                            <CriteriaNodeMatrixComponent />

                        </section>
                    </div>
                </ChildContent>
            </TabItem>
        </Tab>
    </CascadingValue>
}


@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        ProjectsCollection.OnSelectedProjectChanged += project => StateHasChanged();
    }
}
