@page "/results"
@inherits DSSProject
@layout EditorLayout


<section class="res">
    @if (Relations.Correct)
    {
        <div class="sheme">
            <HierShemeBig ProjectSheme="Project" ViewSelection="HierShemeBig.ViewSelections.Best"></HierShemeBig>
        </div>
        <div class="res-info">
            @foreach (var levelGroup in GroupedResults())
            {
                <section class="results-list">
                    <h4 class="level-header">
                        @HeaderText(levelGroup)
                    </h4>
                    <div>
                        <ul class="results">
                            @foreach (var node in levelGroup.OrderByDescending(n => n.Coefficient))
                            {
                                <li>
                                    <span class="node-name">
                                        @node.Name
                                    </span>
                                    <span class="node-rating">
                                        @((node.Coefficient * 100).ToString("0.00"))
                                    </span>
                                    <div class="node-progress">
                                        <div class="progress-filler" style="width:@ReturnPrs(node)%" />
                                    </div>
                                </li>
                            }
                        </ul>
                        <p class="level-best-nodes">
                            ЛУЧШИЙ ВЫБОР – <span class="node-best">@string.Join(", ", Hierarchy.Best(levelGroup.Key).Select(n => n.Name))</span>
                        </p>

                    </div>
                </section>
            }

        </div>
    }
    else
    {
        @if (!Relations.Consistent)
        {
            <div>
                <Warning Header="Несогласованность" Message="Некоторые отношения являются несогласованными!"></Warning>

            </div>
        }
        @if (!Relations.Known)
        {
            <div>
                <Warning Header="Незаполненность!" Message="Некоторые отношения не заполнены"></Warning>

            </div>
        }
    }
</section>

@code{
    private string ReturnPrs(INode node)
    {
        return (node.Coefficient * 100).ToString("0");
    }

    private IEnumerable<IGrouping<int, INode>> GroupedResults()
    {
        return Hierarchy.GroupedByLevel.Where(g => g.Key != 0);
    }

    private string HeaderText(IGrouping<int, INode> group)
    {
        string name = group.First().LevelName();
        return $"{name} ур. {group.Key}";
    }

}