

.level-header {
}

.node-name {
    flex: 22;
}

.node-rating {
    flex: 8;
}

.level-best-nodes {
}

.node-best {
    font-weight: 600;
}

.node-progress {
    flex: 70;
    height: 6px;
    position: relative;
    background-color: rgb(230,230,230);
}

.progress-filler {
    height: 100%;
    position: absolute;
    background-color: #67e37d;
}

.res {
    display: flex;
    font-size: 0.9em;
}
.sheme {
    flex: 3;
}

.res-info {
    flex: 7;
    min-height: 75vh;
    padding-right: 20px;
    border-left: 1px solid gainsboro;
    padding-left: 15px;
}


.results {
    list-style: none;
    flex-flow: row;
}
.results-list{
    padding-bottom: 5px;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 5px;
}

    .results li {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        .results li:before {
            content: "—";
            position: relative;
            left: -5px;
        }

    .results span {
        margin: 0 5px 5px 0;
    }
