@inherits DSSComponent

<div>
    @if (Account.TemplatesPresets.Any())
    {
        <section class="load-preset saved-session">
            <p class="load-note">
                Предустановленные шаблоны
            </p>
            <ul class="presets">
                <CascadingValue Value="this">
                    @foreach (var template in Account.TemplatesPresets)
                    {
                        <li>
                            <TemplateHierarchyItemComponent Template="template" OnClickAction="() => ProjectsCollection.SetProject(template)"></TemplateHierarchyItemComponent>
                        </li>
                    }
                </CascadingValue>
            </ul>
        </section>
    }
    <section>
        <p class="load-note">
            Сохраненные шаблоны
        </p>
        @if (Account.TemplatesUserSaved.Any())
        {
            <ul class="presets">
                <CascadingValue Value="this">
                    @foreach (var template in Account.TemplatesUserSaved)
                    {
                        <li>
                            <TemplateHierarchyItemComponent Template="template" ShowDescription="false" OnClickAction="() => ProjectsCollection.SetProject(template)"></TemplateHierarchyItemComponent>
                        </li>
                    }
                </CascadingValue>
            </ul>
        }
        else
        {
            <span style="margin-left: 25px">
                Таких пока нет.
            </span>
        }
    </section>
    @if (ProjectsCollection.ActiveProjects.Any(p => p.IsActiveHierCreated))
    {
        <section class="saved-session">
            <p class="load-note">
                Активные задачи
            </p>
                <ul class="presets">
                    <CascadingValue Value="this">
                        @foreach (var project in ProjectsCollection.ActiveProjects.Where(p => p.IsActiveHierCreated))
                        {
                            <li>
                                <TemplateHierarchyItemComponent Template="new TemplateProject(project)" ShowDescription="false" OnClickAction="()=> ProjectsCollection.SetProject(new TemplateProject(project))">

                                </TemplateHierarchyItemComponent>
                            </li>
                        }
                    </CascadingValue>
                </ul>
        </section>
    }
</div>
@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Account.OnLoadEnded += StateHasChanged;
        ProjectsCollection.OnActiveProjectsChanged += StateHasChanged;
        Account.OnUserTemplatesChanged += StateHasChanged;
    }
}
