@using System.IO;
@inherits DSSComponentProjectV2

<div>
    <HierarchyStatusComponent></HierarchyStatusComponent>
</div>

<Tab>
    <TabItem>
        <Title>
            <h3 class="tab-header">Структура иерархии</h3>
        </Title>
        <ChildContent>
            <HierarchyEditStructureComponent></HierarchyEditStructureComponent>
        </ChildContent>
    </TabItem>
</Tab>


@code {

}
